<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./after-login.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@300;400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="after-login">
      <div class="after-login-child"></div>
      <div class="after-login-item"></div>
      <div class="after-login-inner"></div>
      <div class="frame-parent72" id="frameContainer21">
        <div class="frame-parent73">
          <div class="frame-parent74">
            <div class="ellipse-parent2">
              <div class="frame-child45"></div>
              <div class="full-name-likes-container">
                <span class="full-name3">Full Name</span>
                <span> likes this</span>
              </div>
            </div>
            <div class="vector-wrapper3">
              <img class="vector-icon31" alt="" src="./public/vector15.svg" />
            </div>
          </div>
          <div class="frame-child46"></div>
          <div class="frame-parent75">
            <div class="ellipse-parent2">
              <div class="frame-child47"></div>
              <div class="frame-parent76">
                <div class="page-name-wrapper">
                  <div class="projects-near-me">Page name</div>
                </div>
                <div class="full-name-likes-container">100,000 followers</div>
                <div class="promoted-parent">
                  <img class="icon24" alt="" src="./public/icon4.svg" />

                  <div class="full-name-likes-container">8d</div>
                  <div class="div13">•</div>
                  <div class="full-name-likes-container">Edited</div>
                  <div class="div13">•</div>
                  <img class="icon24" alt="" src="./public/icon5.svg" />
                </div>
              </div>
            </div>
            <div class="icon-parent16">
              <img class="icon26" alt="" src="./public/icon11.svg" />

              <div class="label11">Follow</div>
            </div>
          </div>
          <div class="the-standard-lorem">
            <span
              >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt</span
            >
            <span class="see-more4">... see more</span>
          </div>
          <div class="see-translation">See translation</div>
        </div>
        <div class="frame-child48"></div>
        <div class="frame-parent77">
          <div class="frame-parent78">
            <div class="ellipse-parent2">
              <div class="group-parent14">
                <img class="frame-child49" alt="" src="./public/group-22.svg" />

                <img class="frame-child50" alt="" src="./public/group-32.svg" />

                <img class="frame-child50" alt="" src="./public/group-42.svg" />
              </div>
              <div class="full-name-and5">Full Name and 8 others</div>
            </div>
            <div class="comments-parent2">
              <div class="full-name-and5">8 comments</div>
              <div class="div15">•</div>
              <div class="full-name-and5">8 shares</div>
            </div>
          </div>
          <div class="frame-child52"></div>
          <div class="frame-parent80">
            <div class="ellipse-parent3">
              <div class="frame-child53"></div>
              <img class="vector-icon32" alt="" src="./public/vector16.svg" />
            </div>
            <div class="frame-parent81">
              <div class="vector-parent17">
                <img class="vector-icon33" alt="" src="./public/vector17.svg" />

                <div class="like4">Like</div>
              </div>
              <div class="icon-parent17">
                <img class="icon27" alt="" src="./public/icon9.svg" />

                <div class="like4">Comment</div>
              </div>
              <div class="icon-parent18">
                <img class="icon28" alt="" src="./public/icon10.svg" />

                <div class="like4">Share</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="after-login-inner1">
        <div class="frame-parent82">
          <div class="frame-parent83">
            <div class="ellipse-parent3">
              <div class="frame-child53"></div>
              <div class="full-name-likes-container">
                <span class="full-name3">Full Name</span>
                <span> shared this</span>
              </div>
            </div>
            <div class="vector-wrapper4">
              <img class="vector-icon31" alt="" src="./public/vector15.svg" />
            </div>
          </div>
          <div class="frame-child46"></div>
          <div class="frame-parent75">
            <div class="ellipse-parent2">
              <div class="frame-child56"></div>
              <div class="frame-parent76">
                <div class="full-name-parent">
                  <div class="projects-near-me">Full Name</div>
                  <div class="div16">•</div>
                </div>
                <div class="full-name-likes-container">Headline</div>
                <div class="promoted-parent">
                  <img class="icon24" alt="" src="./public/icon4.svg" />

                  <div class="full-name-likes-container">8d</div>
                  <div class="div13">•</div>
                  <div class="full-name-likes-container">Edited</div>
                  <div class="div13">•</div>
                  <img class="icon24" alt="" src="./public/icon5.svg" />
                </div>
              </div>
            </div>
            <div class="icon-parent16">
              <div class="icon-parent20">
                <img class="icon26" alt="" src="./public/icon11.svg" />

                <img class="network-icon8" alt="" src="./public/network3.svg" />
              </div>
              <div class="label11">Connect</div>
            </div>
          </div>
          <div class="the-standard-lorem">
            The standard Lorem Ipsum passage is: Lorem ipsum dolor sit amet,
            consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat.
          </div>
        </div>
      </div>
      <div class="profile-nav-bar4"></div>
      <div class="nexus13">
        <span class="ne13">NE</span>
        <i class="x13">X</i>
        <span class="ne13">US</span>
      </div>
      <b class="where-skills-meet-container10">
        <p class="website-article-title">Where Skills Meet Solutions</p>
      </b>
      <div class="after-login-child1"></div>
      <div class="search14">
        <div class="ellipse-parent3">
          <img class="search-icon4" alt="" src="./public/search.svg" />

          <div class="like4">Search</div>
        </div>
      </div>
      <div class="home-parent2">
        <b class="home4">Home</b>
        <img class="union-icon9" alt="" src="./public/union4.svg" />
      </div>
      <div class="communities-parent2" id="groupContainer1">
        <b class="communities6"> Communities</b>
        <img class="network-icon9" alt="" src="./public/network.svg" />
      </div>
      <div class="notifications-parent2" id="groupContainer2">
        <b class="notifications4">Notifications</b>
        <img class="icon32" alt="" src="./public/icon.svg" />
      </div>
      <div class="group-parent15" id="groupContainer4">
        <div class="profile-wrapper1">
          <b class="profile6">Profile</b>
        </div>
        <img
          class="droopfilledaccount-icon4"
          alt=""
          src="./public/droopfilledaccount4.svg"
        />
      </div>
      <div class="messaging-parent2" id="groupContainer5">
        <b class="messaging4">Messaging</b>
        <img
          class="droopfilledmessage-icon4"
          alt=""
          src="./public/droopfilledmessage.svg"
        />
      </div>
      <img class="after-login-child2" alt="" src="./public/rectangle-125.svg" />

      <input class="start-a-post" type="text" />

      <button class="rectangle-parent37">
        <div class="group-child56"></div>
        <div class="post">post</div>
      </button>
      <button class="rectangle-parent38">
        <div class="group-child56"></div>
        <div class="post">more..</div>
      </button>
      <div class="profile-page-assets-and-compon">
        <div class="frame-parent87">
          <div class="post-parent">
            <div class="post1">Post</div>
            <div class="lorem-ipsum-dolor1">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et ...
            </div>
            <div class="frame-child57"></div>
            <img class="frame-child58" alt="" src="./public/group-304.svg" />

            <div class="website-article-title-container">
              <p class="website-article-title">
                Website article title displayed here
              </p>
              <p class="website-article-title">(max two lines)</p>
            </div>
            <div class="websiteurl-parent">
              <div class="full-name-likes-container">website.url</div>
              <div class="lightning">
                <img class="vector-icon35" alt="" src="./public/vector18.svg" />
              </div>
              <div class="div13">•</div>
              <div class="full-name-likes-container">1 min read</div>
            </div>
            <div class="frame-parent88">
              <div class="ellipse-parent2">
                <div class="group-parent14">
                  <img
                    class="frame-child49"
                    alt=""
                    src="./public/group-23.svg"
                  />

                  <img
                    class="frame-child50"
                    alt=""
                    src="./public/group-33.svg"
                  />

                  <img
                    class="frame-child50"
                    alt=""
                    src="./public/group-43.svg"
                  />
                </div>
                <div class="full-name-and5">888</div>
              </div>
              <div class="comments-parent2">
                <div class="full-name-and5">8 comments</div>
                <div class="div15">•</div>
                <div class="full-name-and5">8 shares</div>
              </div>
            </div>
          </div>
          <div class="post-parent">
            <div class="post1">Post</div>
            <div class="lorem-ipsum-dolor1">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et ...
            </div>
            <div class="frame-child57"></div>
            <div class="website-article-title-container">
              <p class="website-article-title">
                Website article title displayed here
              </p>
              <p class="website-article-title">(max two lines)</p>
            </div>
            <div class="websiteurl-parent">
              <div class="full-name-likes-container">website.url</div>
              <div class="lightning">
                <img class="vector-icon35" alt="" src="./public/vector18.svg" />
              </div>
              <div class="div13">•</div>
              <div class="full-name-likes-container">1 min read</div>
            </div>
            <div class="frame-parent88">
              <div class="ellipse-parent2">
                <div class="group-parent14">
                  <img
                    class="frame-child49"
                    alt=""
                    src="./public/group-23.svg"
                  />

                  <img
                    class="frame-child50"
                    alt=""
                    src="./public/group-33.svg"
                  />

                  <img
                    class="frame-child50"
                    alt=""
                    src="./public/group-43.svg"
                  />
                </div>
                <div class="full-name-and5">888</div>
              </div>
              <div class="comments-parent2">
                <div class="full-name-and5">8 comments</div>
                <div class="div15">•</div>
                <div class="full-name-and5">8 shares</div>
              </div>
            </div>
          </div>
          <div class="post-parent">
            <div class="post1">Post</div>
            <div class="lorem-ipsum-dolor1">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et ...
            </div>
            <div class="frame-child57"></div>
            <div class="website-article-title-container">
              <p class="website-article-title">
                Website article title displayed here
              </p>
              <p class="website-article-title">(max two lines)</p>
            </div>
            <div class="websiteurl-parent">
              <div class="full-name-likes-container">website.url</div>
              <div class="lightning">
                <img class="vector-icon35" alt="" src="./public/vector18.svg" />
              </div>
              <div class="div13">•</div>
              <div class="full-name-likes-container">1 min read</div>
            </div>
            <div class="frame-parent88">
              <div class="ellipse-parent2">
                <div class="group-parent14">
                  <img
                    class="frame-child49"
                    alt=""
                    src="./public/group-23.svg"
                  />

                  <img
                    class="frame-child50"
                    alt=""
                    src="./public/group-33.svg"
                  />

                  <img
                    class="frame-child50"
                    alt=""
                    src="./public/group-43.svg"
                  />
                </div>
                <div class="full-name-and5">888</div>
              </div>
              <div class="comments-parent2">
                <div class="full-name-and5">8 comments</div>
                <div class="div15">•</div>
                <div class="full-name-and5">8 shares</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="trending-from-nasa-wrapper">
        <div class="trending-from-nasa">Trending From NASA</div>
      </div>
      <div class="map">Map</div>
      <div class="after-login-child3"></div>
      <div class="after-login-child4"></div>
      <div class="after-login-inner2">
        <div class="frame-parent94">
          <div class="projects-near-me-parent">
            <div class="projects-near-me">Projects Near me</div>
            <div class="require-green-skills">require green skills</div>
          </div>
          <div class="frame-parent95" id="frameContainer74">
            <div class="frame-parent94">
              <div class="frame-parent83">
                <div class="group-parent19">
                  <div class="rectangle-wrapper6">
                    <div class="group-child58"></div>
                  </div>
                  <div class="frame-parent76">
                    <div class="page-name-wrapper">
                      <div class="projects-near-me">Project name</div>
                    </div>
                    <div class="full-name-likes-container">
                      location (Role type)
                    </div>
                    <div class="layer-1-parent">
                      <img
                        class="layer-1-icon"
                        alt=""
                        src="./public/layer-1.svg"
                      />

                      <div class="full-name-likes-container">
                        Actively recruiting
                      </div>
                    </div>
                    <div class="promoted-parent">
                      <div class="full-name-likes-container">Promoted</div>
                      <div class="div28">•</div>
                      <div class="applicants">8 applicants</div>
                    </div>
                  </div>
                </div>
                <img
                  class="bookmarksimple-icon"
                  alt=""
                  src="./public/bookmarksimple.svg"
                />
              </div>
              <div class="frame-child46"></div>
              <div class="frame-parent83">
                <div class="group-parent19">
                  <div class="rectangle-wrapper6">
                    <div class="group-child58"></div>
                  </div>
                  <div class="frame-parent76">
                    <div class="page-name-wrapper">
                      <div class="projects-near-me">Project name</div>
                    </div>
                    <div class="full-name-likes-container">
                      location (Role type)
                    </div>
                    <div class="promoted-parent">
                      <div class="full-name-likes-container">Promoted</div>
                      <div class="div28">•</div>
                      <div class="applicants">8 applicants</div>
                    </div>
                  </div>
                </div>
                <img
                  class="bookmarksimple-icon"
                  alt=""
                  src="./public/bookmarksimple.svg"
                />
              </div>
              <div class="frame-child46"></div>
              <div class="frame-parent83">
                <div class="group-parent19">
                  <div class="rectangle-wrapper6">
                    <div class="group-child58"></div>
                  </div>
                  <div class="frame-parent76">
                    <div class="page-name-wrapper">
                      <div class="projects-near-me">Project name</div>
                    </div>
                    <div class="full-name-likes-container">
                      location (Role type)
                    </div>
                    <div class="layer-1-parent">
                      <img
                        class="layer-1-icon"
                        alt=""
                        src="./public/layer-1.svg"
                      />

                      <div class="full-name-likes-container">
                        Actively recruiting
                      </div>
                    </div>
                    <div class="promoted-parent">
                      <img class="icon24" alt="" src="./public/icon4.svg" />

                      <div class="projects-near-me">8d</div>
                      <div class="div28">•</div>
                      <div class="full-name-likes-container">Easy Apply</div>
                    </div>
                  </div>
                </div>
                <img
                  class="bookmarksimple-icon"
                  alt=""
                  src="./public/bookmarksimple.svg"
                />
              </div>
              <div class="frame-child46"></div>
            </div>
            <div class="see-all">See all</div>
          </div>
        </div>
      </div>
      <div class="after-login-child5" id="rectangle16"></div>
      <div class="projects2">Projects</div>
    </div>

    <script>
      var frameContainer21 = document.getElementById("frameContainer21");
      if (frameContainer21) {
        frameContainer21.addEventListener("click", function (e) {
          window.location.href = "./project-details-looking-for-te1.html";
        });
      }
      
      var groupContainer1 = document.getElementById("groupContainer1");
      if (groupContainer1) {
        groupContainer1.addEventListener("click", function (e) {
          window.location.href = "./communities-overview.html";
        });
      }
      
      var groupContainer2 = document.getElementById("groupContainer2");
      if (groupContainer2) {
        groupContainer2.addEventListener("click", function (e) {
          window.location.href = "./notifications.html";
        });
      }
      
      var groupContainer4 = document.getElementById("groupContainer4");
      if (groupContainer4) {
        groupContainer4.addEventListener("click", function (e) {
          window.location.href = "./profile-user-pov.html";
        });
      }
      
      var groupContainer5 = document.getElementById("groupContainer5");
      if (groupContainer5) {
        groupContainer5.addEventListener("click", function (e) {
          window.location.href = "./messaging.html";
        });
      }
      
      var frameContainer74 = document.getElementById("frameContainer74");
      if (frameContainer74) {
        frameContainer74.addEventListener("click", function (e) {
          window.location.href = "./project-details-looking-for-te.html";
        });
      }
      
      var rectangle16 = document.getElementById("rectangle16");
      if (rectangle16) {
        rectangle16.addEventListener("click", function (e) {
          window.location.href = "./projects-overview.html";
        });
      }
      </script>
  </body>
</html>
