<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./after-signup-intrests.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@300;400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="after-signupintrests">
      <div class="after-signupintrests-child"></div>
      <div class="profile-nav-bar"></div>
      <button class="nexus-parent1">
        <div class="nexus9" id="nEXUSText">
          <span class="ne9">NE</span>
          <i class="x9">X</i>
          <span class="ne9">US</span>
        </div>
        <b class="where-skills-meet-container6">
          <p class="where-skills-meet6">Where Skills Meet Solutions</p>
        </b>
      </button>
      <div class="after-signupintrests-item"></div>
      <div class="search1">
        <div class="search-parent">
          <img class="search-icon" alt="" src="./public/search.svg" />

          <div class="search-wrapper">
            <div class="search2">Search</div>
          </div>
        </div>
      </div>
      <button class="home-parent">
        <b class="home">Home</b>
        <img class="union-icon" alt="" src="./public/union.svg" />
      </button>
      <button class="communities-parent" id="groupButton1">
        <b class="communities"> Communities</b>
        <img class="network-icon" alt="" src="./public/network.svg" />
      </button>
      <button class="notifications-parent" id="groupButton2">
        <b class="notifications">Notifications</b>
        <img class="icon1" alt="" src="./public/icon.svg" />
      </button>
      <button class="group-parent6" id="groupButton3">
        <div class="profile-wrapper">
          <b class="profile">Profile</b>
        </div>
        <img
          class="droopfilledaccount-icon"
          alt=""
          src="./public/droopfilledaccount.svg"
        />
      </button>
      <button class="messaging-parent" id="groupButton4">
        <b class="messaging">Messaging</b>
        <img
          class="droopfilledmessage-icon"
          alt=""
          src="./public/droopfilledmessage.svg"
        />
      </button>
      <div class="choose-your-location">choose your location</div>
      <div class="topics-you-are">Topics you are inserted in</div>
      <div class="after-signupintrests-inner"></div>
      <input class="username" type="text" />

      <address class="rectangle-address"></address>
      <div class="after-signupintrests-child1"></div>
      <div class="after-signupintrests-child2"></div>
      <div class="after-signupintrests-child3"></div>
      <div class="after-signupintrests-child4"></div>
      <div class="after-signupintrests-child5"></div>
      <div class="after-signupintrests-child6"></div>
      <div class="after-signupintrests-child7"></div>
      <div class="after-signupintrests-child8"></div>
      <div class="after-signupintrests-child9"></div>
      <div class="after-signupintrests-child10"></div>
      <div class="after-signupintrests-child11"></div>
      <div class="communities-youd-like">Communities you’d like to join</div>
      <div class="after-signupintrests-child12"></div>
      <div class="after-signupintrests-child13"></div>
      <div class="after-signupintrests-child14"></div>
      <div class="after-signupintrests-child15"></div>
      <div class="after-signupintrests-child16"></div>
      <div class="after-signupintrests-child17"></div>
      <div class="after-signupintrests-child18"></div>
      <div class="after-signupintrests-child19"></div>
      <div class="after-signupintrests-child20"></div>
      <div class="after-signupintrests-child21"></div>
      <div class="after-signupintrests-inner1">
        <div class="rectangle-parent12">
          <div class="group-child32"></div>
          <div class="upload-picture">upload Picture</div>
          <button class="droopfilledfolder">
            <img class="union-icon1" alt="" src="./public/union1.svg" />
          </button>
        </div>
      </div>
      <div class="after-signupintrests-child22"></div>
      <input class="role" type="text" />

      <div class="after-signupintrests-child23"></div>
      <input class="your-bio" type="text" />

      <div class="after-signupintrests-child24"></div>
      <input class="your-skills" type="text" />

      <div class="after-signupintrests-inner2">
        <div class="rectangle-parent13">
          <div class="group-child33"></div>
          <button class="rectangle-parent14">
            <div class="group-child34" id="rectangle29"></div>
            <div class="lets-connect-collaborate">
              Lets Connect, Collaborate, Cultivate
            </div>
          </button>
        </div>
      </div>
    </div>

    <script>
      var nEXUSText = document.getElementById("nEXUSText");
      if (nEXUSText) {
        nEXUSText.addEventListener("click", function (e) {
          window.location.href = "./after-login.html";
        });
      }
      
      var groupButton1 = document.getElementById("groupButton1");
      if (groupButton1) {
        groupButton1.addEventListener("click", function (e) {
          window.location.href = "./communities-overview.html";
        });
      }
      
      var groupButton2 = document.getElementById("groupButton2");
      if (groupButton2) {
        groupButton2.addEventListener("click", function (e) {
          window.location.href = "./notifications.html";
        });
      }
      
      var groupButton3 = document.getElementById("groupButton3");
      if (groupButton3) {
        groupButton3.addEventListener("click", function (e) {
          window.location.href = "./profile-user-pov.html";
        });
      }
      
      var groupButton4 = document.getElementById("groupButton4");
      if (groupButton4) {
        groupButton4.addEventListener("click", function (e) {
          window.location.href = "./messaging.html";
        });
      }
      
      var rectangle29 = document.getElementById("rectangle29");
      if (rectangle29) {
        rectangle29.addEventListener("click", function (e) {
          window.location.href = "./after-login.html";
        });
      }
      </script>
  </body>
</html>
