<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./community-posts.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@300;400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="community-posts">
      <img class="message-icon2" alt="" src="./public/message2.svg" />

      <div class="community-posts-child"></div>
      <div class="community-posts-item"></div>
      <div class="community-posts-inner" id="rectangle2"></div>
      <div class="community-posts-inner1">
        <div class="frame-child136"></div>
      </div>
      <b class="community-posts1">
        <p class="community-posts2">Community Posts</p>
      </b>
      <b class="other-communities">
        <p class="community-posts2">Other Communities</p>
      </b>
      <div class="rectangle-parent166">
        <div class="group-child350"></div>
        <b class="posts">
          <p class="community-posts2">Posts</p>
        </b>
      </div>
      <div class="rectangle-parent167">
        <div class="group-child351"></div>
        <b class="recourses">
          <p class="community-posts2">Recourses</p>
        </b>
      </div>
      <div class="rectangle-parent168" id="groupContainer2">
        <div class="group-child351"></div>
        <b class="chatting">
          <p class="community-posts2">Chatting</p>
        </b>
      </div>
      <div class="rectangle-parent169">
        <div class="group-child353"></div>
        <img class="group-child354" alt="" src="./public/group-217.svg" />

        <b class="create2">
          <p class="community-posts2">Create</p>
        </b>
      </div>
      <div class="frame-parent193">
        <div class="frame-parent194">
          <div class="frame-parent195">
            <div class="rectangle-parent170">
              <div class="frame-child137"></div>
              <div class="frame-parent196">
                <div class="page-name-container">
                  <div class="page-name5">Page name</div>
                </div>
                <div class="followers5">100,000 followers</div>
                <div class="icon-parent37">
                  <img class="icon70" alt="" src="./public/icon4.svg" />

                  <div class="followers5">8d</div>
                  <div class="div44">•</div>
                  <div class="followers5">Edited</div>
                  <div class="div44">•</div>
                  <img class="icon70" alt="" src="./public/icon5.svg" />
                </div>
              </div>
            </div>
            <div class="vector-wrapper9">
              <img class="vector-icon75" alt="" src="./public/vector12.svg" />
            </div>
          </div>
          <div class="lorem-ipsum-dolor-container10">
            <span
              >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt</span
            >
            <span class="see-more10">... see more</span>
          </div>
        </div>
        <div class="rectangle-parent171">
          <div class="group-child355"></div>
          <div class="group-child356"></div>
          <div class="group-child357"></div>
          <div class="group-child358"></div>
        </div>
        <div class="frame-parent197">
          <div class="frame-parent198">
            <div class="rectangle-parent170">
              <div class="group-parent60">
                <img
                  class="frame-child138"
                  alt=""
                  src="./public/group-24.svg"
                />

                <img
                  class="frame-child139"
                  alt=""
                  src="./public/group-31.svg"
                />

                <img
                  class="frame-child139"
                  alt=""
                  src="./public/group-45.svg"
                />
              </div>
              <div class="full-name-and11">Full Name and 8 others</div>
            </div>
            <div class="comments-parent10">
              <div class="full-name-and11">8 comments</div>
              <div class="div46">•</div>
              <div class="full-name-and11">8 shares</div>
            </div>
          </div>
          <div class="frame-child141"></div>
          <div class="frame-parent200">
            <div class="ellipse-parent13">
              <div class="frame-child142"></div>
              <img class="vector-icon76" alt="" src="./public/vector26.svg" />
            </div>
            <div class="frame-parent201">
              <div class="vector-parent44">
                <img class="vector-icon77" alt="" src="./public/vector27.svg" />

                <div class="like9">Like</div>
              </div>
              <div class="icon-parent38">
                <img class="icon72" alt="" src="./public/icon12.svg" />

                <div class="like9">Comment</div>
              </div>
              <div class="icon-parent39">
                <img class="icon73" alt="" src="./public/icon7.svg" />

                <div class="like9">Share</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="community-posts-child1"></div>
      <b class="community-members">
        <p class="community-posts2">Community Members</p>
      </b>
      <div class="rectangle-parent172" id="groupContainer5">
        <div class="group-child359"></div>
        <div class="tala">
          <p class="community-posts2">Tala</p>
        </div>
        <img class="group-child360" alt="" src="./public/group-15.svg" />
      </div>
      <div class="rectangle-parent173" id="groupContainer6">
        <div class="group-child359"></div>
        <div class="tala">
          <p class="community-posts2">Nadia</p>
        </div>
        <img class="group-child360" alt="" src="./public/group-15.svg" />
      </div>
      <div class="rectangle-parent174" id="groupContainer7">
        <div class="group-child359"></div>
        <div class="tala">
          <p class="community-posts2">Sewar</p>
        </div>
        <img class="group-child360" alt="" src="./public/group-15.svg" />
      </div>
      <div class="rectangle-parent175" id="groupContainer8">
        <div class="group-child359"></div>
        <div class="tala">
          <p class="community-posts2">Baraa</p>
        </div>
        <img class="group-child360" alt="" src="./public/group-15.svg" />
      </div>
      <div class="rectangle-parent176" id="groupContainer9">
        <div class="group-child359"></div>
        <div class="tala">
          <p class="community-posts2">Abdelrahman</p>
        </div>
        <img class="group-child360" alt="" src="./public/group-15.svg" />
      </div>
      <div class="profile-nav-bar17"></div>
      <div class="nexus30">
        <span class="ne30">NE</span>
        <i class="x30">X</i>
        <span class="ne30">US</span>
      </div>
      <b class="where-skills-meet-container26">
        <p class="community-posts2">Where Skills Meet Solutions</p>
      </b>
      <div class="search58">
        <div class="ellipse-parent13">
          <img class="search-icon17" alt="" src="./public/search.svg" />

          <div class="like9">Search</div>
        </div>
      </div>
      <div class="group-parent61">
        <div class="home-parent15" id="groupContainer10">
          <b class="home17">Home</b>
          <img class="union-icon24" alt="" src="./public/union.svg" />
        </div>
        <div class="communities-parent15" id="groupContainer11">
          <b class="communities29"> Communities</b>
          <img class="network-icon24" alt="" src="./public/network5.svg" />
        </div>
        <div class="notifications-parent15" id="groupContainer12">
          <b class="notifications18">Notifications</b>
          <img class="icon74" alt="" src="./public/icon.svg" />
        </div>
        <div class="group-parent62" id="groupContainer14">
          <div class="profile-wrapper11">
            <b class="profile20">Profile</b>
          </div>
          <img
            class="droopfilledaccount-icon23"
            alt=""
            src="./public/droopfilledaccount7.svg"
          />
        </div>
        <div class="messaging-parent15" id="groupContainer15">
          <b class="messaging17">Messaging</b>
          <img
            class="droopfilledmessage-icon17"
            alt=""
            src="./public/droopfilledmessage.svg"
          />
        </div>
      </div>
    </div>

    <script>
      var rectangle2 = document.getElementById("rectangle2");
      if (rectangle2) {
        rectangle2.addEventListener("click", function (e) {
          window.location.href = "./communities-overview.html";
        });
      }
      
      var groupContainer2 = document.getElementById("groupContainer2");
      if (groupContainer2) {
        groupContainer2.addEventListener("click", function (e) {
          window.location.href = "./community-chat.html";
        });
      }
      
      var groupContainer5 = document.getElementById("groupContainer5");
      if (groupContainer5) {
        groupContainer5.addEventListener("click", function (e) {
          window.location.href = "./profile-pov.html";
        });
      }
      
      var groupContainer6 = document.getElementById("groupContainer6");
      if (groupContainer6) {
        groupContainer6.addEventListener("click", function (e) {
          window.location.href = "./profile-pov.html";
        });
      }
      
      var groupContainer7 = document.getElementById("groupContainer7");
      if (groupContainer7) {
        groupContainer7.addEventListener("click", function (e) {
          window.location.href = "./profile-pov.html";
        });
      }
      
      var groupContainer8 = document.getElementById("groupContainer8");
      if (groupContainer8) {
        groupContainer8.addEventListener("click", function (e) {
          window.location.href = "./profile-pov.html";
        });
      }
      
      var groupContainer9 = document.getElementById("groupContainer9");
      if (groupContainer9) {
        groupContainer9.addEventListener("click", function (e) {
          window.location.href = "./profile-pov.html";
        });
      }
      
      var groupContainer10 = document.getElementById("groupContainer10");
      if (groupContainer10) {
        groupContainer10.addEventListener("click", function (e) {
          window.location.href = "./after-login.html";
        });
      }
      
      var groupContainer11 = document.getElementById("groupContainer11");
      if (groupContainer11) {
        groupContainer11.addEventListener("click", function (e) {
          window.location.href = "./communities-overview.html";
        });
      }
      
      var groupContainer12 = document.getElementById("groupContainer12");
      if (groupContainer12) {
        groupContainer12.addEventListener("click", function (e) {
          window.location.href = "./notifications.html";
        });
      }
      
      var groupContainer14 = document.getElementById("groupContainer14");
      if (groupContainer14) {
        groupContainer14.addEventListener("click", function (e) {
          window.location.href = "./profile-user-pov.html";
        });
      }
      
      var groupContainer15 = document.getElementById("groupContainer15");
      if (groupContainer15) {
        groupContainer15.addEventListener("click", function (e) {
          window.location.href = "./messaging.html";
        });
      }
      </script>
  </body>
</html>
