<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>find users</title>
</head>
<body>
    <form action="/find_users", method="GET">
        <label for="text">search for a user</label>
        <input type="text" name="text" id="text" placeholder="username">
        <button type="submit">search</button>
    </form>
    {% if searched != None%}
    <h2>Search Results for "{{ searched }}"</h2>
    <ul>
        {% for user in searched_answer %}
        {% if user != current_user %}
        <li>
            <h3>{{user.username}} <button><a href="{{url_for('user.user_profile', username = user.username)}}">go to account</a></button></h3>
        
        </li>
        {% endif %}
        {% endfor %}
    </ul>
    {%endif%}

    <ul>
        <h1>Pages you may like</h1>
        {% for user in similar_users%}
        <li>
            <h3>{{user.username}} <button><a href="{{url_for('user.user_profile', username = user.username)}}">go to account</a></button></h3>
            
        </li>
        {% endfor %}
    </ul>
</body>
</html>