.vector-icon14 {
  position: absolute;
  top: 512px;
  left: 0;
  width: 1994px;
  height: 553px;
}
.back-button-child2,
.google-signuppassword-child {
  position: absolute;
  background-color: var(--color-gainsboro-600);
}
.google-signuppassword-child {
  top: 271px;
  left: 412px;
  border-radius: var(--br-xl);
  width: 615px;
  height: 599px;
}
.back-button-child2 {
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 94px;
  height: 89px;
}
.chevron-right-icon5 {
  position: absolute;
  top: 23.73px;
  left: 27.16px;
  width: 41.78px;
  height: 39.56px;
  overflow: hidden;
}
.back-button5 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 112px;
  left: 77px;
  width: 94px;
  height: 89px;
}
.ne6 {
  font-weight: 800;
}
.x6 {
  font-weight: 700;
}
.nexus-txt1 {
  line-break: anywhere;
  width: 100%;
}
.nexus6 {
  position: absolute;
  top: 98px;
  left: 521px;
  text-align: center;
  display: flex;
  align-items: center;
  width: 398px;
  height: 115px;
}
.where-skills-meet4 {
  margin: 0;
}
.where-skills-meet-container4 {
  position: absolute;
  top: 197px;
  left: 564px;
  font-size: var(--font-size-4xl);
}
.google-icon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.sign-in-with1 {
  flex: 1;
  position: relative;
  line-height: 20px;
  font-weight: 600;
}
.title-contents {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-xs);
}
.px-border-bottom {
  align-self: stretch;
  position: relative;
  background-color: var(--color-gainsboro-400);
  height: 1px;
}
.title2 {
  align-self: stretch;
  height: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.hi-firstname {
  align-self: stretch;
  position: relative;
  line-height: 32px;
}
.profile-picture-icon {
  position: relative;
  width: 16px;
  height: 16px;
}
.emailgmailcom {
  position: relative;
  line-height: 16px;
}
.email1,
.header-text1 {
  display: flex;
  align-items: center;
  gap: var(--gap-5xs);
}
.email1 {
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-sm);
}
.header-text1 {
  align-self: stretch;
  flex-direction: column;
  justify-content: center;
}
.typography3 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.2px;
  line-height: 18px;
  text-align: left;
}
.header {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-21xl) 0;
  gap: var(--gap-base);
}
.content2,
.password3 {
  border: 0;
  background-color: transparent;
}
.content2 {
  position: absolute;
  top: calc(50% - 37px);
  left: -12px;
  width: 396px;
  overflow: hidden;
  display: none;
}
.password3 {
  font-family: var(--font-poppins);
  font-size: var(--components-input-text-size);
  top: 0;
  left: 0;
  color: var(--color-dimgray-100);
  text-align: left;
  display: flex;
  align-items: center;
}
.content-parent,
.group-wrapper23,
.password3 {
  position: absolute;
  width: 414px;
  height: 53px;
}
.content-parent {
  top: calc(50% - 26.5px);
  left: 0;
}
.group-wrapper23 {
  top: 12.5px;
  left: 24px;
}
.enter-your-password {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 12px;
}
.container,
.container-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
}
.container {
  background-color: var(--simply-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
}
.container-wrapper {
  width: 121px;
}
.input-child,
.input-inner {
  position: relative;
  width: 121px;
  height: 2px;
}
.input-child {
  width: 396px;
  height: 75px;
}
.input6 {
  border-radius: var(--br-5xs);
  border: 2px solid var(--color-royalblue);
  box-sizing: border-box;
  padding: 0 var(--padding-xs);
}
.input6,
.text-fieldoutlinedfocused {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text-fieldoutlinedfocused-wrapper {
  position: relative;
  width: 420px;
  height: 77px;
}
.checkbox1 {
  border-radius: 21px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs);
}
.label2 {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 18px;
}
.checkbox {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.checkbox-wrapper {
  position: relative;
  width: 142px;
  height: 32px;
  font-size: var(--font-size-sm);
  color: var(--color-black);
}
.password2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.forgot-password4,
.form {
  color: var(--color-royalblue);
}
.form {
  align-self: stretch;
  height: 136px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-21xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--components-input-label-size);
}
.forgot-password4 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-sm);
  line-height: 18px;
  font-weight: 600;
  font-family: var(--components-input-label);
  text-align: right;
  display: inline-block;
}
.link {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.label3 {
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.4px;
  line-height: 24px;
  font-family: var(--components-input-label);
  color: var(--simply-white);
  text-align: left;
}
.button8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-5xl);
  background-color: transparent;
  border-radius: var(--br-5xs);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.action,
.buttoncontained2 {
  display: flex;
  align-items: center;
}
.buttoncontained2 {
  border-radius: var(--br-9xs);
  background-color: var(--color-royalblue);
  height: 36px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.action {
  align-self: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 0 var(--padding-21xl);
  gap: var(--gap-3xs);
}
.dialog,
.main-content,
.sign-in-with-google {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content {
  align-self: stretch;
  justify-content: center;
  gap: var(--gap-5xl);
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.dialog,
.sign-in-with-google {
  justify-content: flex-start;
}
.dialog {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--simply-white);
  box-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--color-gainsboro-400);
  box-sizing: border-box;
  height: 500px;
  padding: 0 0 var(--padding-17xl);
  gap: var(--gap-13xl);
}
.sign-in-with-google {
  position: absolute;
  top: 321px;
  left: 472px;
  border-radius: var(--br-xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 500px;
  font-size: var(--components-input-text-size);
  color: var(--color-dimgray-200);
  font-family: var(--components-input-label);
}
.google-signuppassword {
  position: relative;
  background-color: var(--simply-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-77xl);
  color: var(--white);
  font-family: var(--font-inter);
}
