.forgot-password {
  position: absolute;
  top: 673px;
  left: 681px;
  text-decoration: underline;
  text-transform: lowercase;
  display: inline-block;
  width: 258px;
  height: 26px;
}
.frame-child4,
.signup-child {
  position: absolute;
  top: 0;
  left: 554px;
  width: 1994px;
  height: 1070.23px;
}
.signup-child {
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-whitesmoke-300);
  width: 350px;
  height: 95px;
}
.signup3 {
  position: absolute;
  top: 32px;
  left: 215px;
  font-size: var(--font-size-xl);
  text-transform: lowercase;
  font-family: var(--font-poppins);
  color: var(--white);
  text-align: left;
}
.signup2 {
  top: 0;
  width: 350px;
}
.group-child24,
.signup-wrapper,
.signup2 {
  position: absolute;
  left: 0;
  height: 95px;
}
.signup-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 1px;
  width: 350px;
}
.group-child24 {
  top: 0;
  border-radius: var(--br-81xl);
  background-color: var(--white);
  width: 198px;
}
.login4 {
  position: absolute;
  top: 25px;
  left: 60px;
  font-size: var(--font-size-11xl);
  text-transform: lowercase;
  font-family: var(--font-poppins);
  color: var(--simply-white);
  text-align: left;
}
.login-wrapper,
.login3,
.rectangle-parent6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 198px;
  height: 95px;
}
.login-wrapper,
.login3 {
  cursor: pointer;
}
.login-wrapper {
  border: 0;
  padding: 0;
  background-color: transparent;
}
.loginsignin {
  position: absolute;
  top: 67px;
  left: 1606px;
  width: 350px;
  height: 96px;
}
.back-button-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gainsboro-600);
  width: 88px;
  height: 89px;
}
.chevron-right-icon1 {
  position: absolute;
  top: 23.73px;
  left: 25.42px;
  width: 39.11px;
  height: 39.56px;
  overflow: hidden;
}
.back-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 63px;
  left: 623px;
  width: 88px;
  height: 89px;
}
.frame-parent13 {
  position: absolute;
  top: 0;
  left: -554px;
  width: 1994px;
  height: 1070.23px;
}
.group-child25 {
  border-radius: var(--br-xl);
  background-color: var(--color-silver-100);
  box-shadow: 0 109px 337px rgba(0, 0, 0, 0.08),
    0 45.537593841552734px 140.79px rgba(0, 0, 0, 0.12),
    0 24.346576690673828px 75.27px rgba(0, 0, 0, 0.14),
    0 13.648491859436035px 42.2px rgba(0, 0, 0, 0.17),
    0 7.2486114501953125px 22.41px rgba(0, 0, 0, 0.21),
    0 3.0163094997406006px 9.33px rgba(0, 0, 0, 0.29);
}
.group-child25,
.rectangle-frame {
  position: absolute;
  top: calc(50% - 354px);
  left: calc(50% - 330px);
  width: 660px;
  height: 708px;
}
.group-wrapper19,
.next-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 660px;
  height: 708px;
}
.next-item {
  border-radius: var(--br-81xl);
  background-color: var(--white);
  border: 7px solid var(--white);
  box-sizing: border-box;
  width: 188.34px;
  height: 75.34px;
}
.next3 {
  position: absolute;
  top: 17.54px;
  left: 53.72px;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--simply-white);
  text-align: left;
  display: inline-block;
  width: 112px;
  height: 39px;
}
.evaarrow-ios-forward-outline-icon1 {
  position: absolute;
  top: 27.83px;
  left: 124.01px;
  width: 26.54px;
  height: 26.54px;
  overflow: hidden;
}
.next-wrapper,
.next2 {
  position: absolute;
  width: 188.34px;
  height: 75.34px;
}
.next2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  left: 0;
}
.next-wrapper {
  top: 457px;
  left: 312px;
}
.ne3 {
  font-weight: 800;
}
.x3 {
  font-size: var(--font-size-55xl);
  font-weight: 700;
}
.nexus-wrapper,
.nexus3 {
  position: absolute;
  top: 0;
  left: calc(50% - 118px);
}
.nexus-wrapper {
  width: 236px;
  height: 90px;
}
.group-child26,
.group-wrapper20 {
  position: absolute;
  top: 0;
  left: 109px;
  width: 236px;
  height: 90px;
}
.group-child26 {
  left: 0;
  border-radius: var(--br-81xl);
  border: 3px solid var(--simply-white);
  box-sizing: border-box;
  width: 499.97px;
  height: 107.87px;
}
.password {
  position: absolute;
  top: 31.38px;
  left: 47.53px;
  display: inline-block;
  width: 362px;
  height: 39px;
}
.group-wrapper21,
.rectangle-parent7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 499.97px;
  height: 107.87px;
}
.group-wrapper21 {
  top: 198px;
  font-size: var(--font-size-11xl);
  color: var(--color-whitesmoke-400);
  font-family: var(--font-poppins);
}
.forgot-password1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-4xl);
  text-decoration: underline;
  text-transform: lowercase;
  font-family: var(--font-poppins);
  color: var(--simply-white);
  text-align: left;
  display: inline-block;
}
.forgot-password-wrapper,
.forgot-password1,
.group-wrapper22 {
  position: absolute;
  top: 0;
  left: 0;
  width: 258px;
  height: 26px;
}
.group-wrapper22 {
  top: 316px;
  left: 37px;
}
.frame-parent14,
.frame-parent15 {
  position: absolute;
  top: 125px;
  left: 105px;
  width: 500.34px;
  height: 532.34px;
}
.frame-parent14 {
  top: 211px;
  left: 390px;
  width: 660px;
  height: 708px;
  font-size: var(--font-size-48xl);
  color: #36232c;
  font-family: var(--font-inter);
}
.loginpassword {
  position: relative;
  background-color: var(--simply-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-4xl);
  color: var(--simply-white);
  font-family: var(--font-poppins);
}
