<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./messaging.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@300;400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="messaging19">
      <div class="profile-nav-bar19"></div>
      <img class="message-icon5" alt="" src="./public/message3.svg" />

      <button class="nexus-parent9" id="groupButton">
        <div class="nexus32">
          <span class="ne32">NE</span>
          <i class="x32">X</i>
          <span class="ne32">US</span>
        </div>
        <b class="where-skills-meet-container28">
          <p class="where-skills-meet28">Where Skills Meet Solutions</p>
        </b>
      </button>
      <img class="message-icon6" alt="" src="./public/message2.svg" />

      <div class="messaging-child"></div>
      <div class="messaging-item"></div>
      <div class="messaging-inner"></div>
      <div class="messaging-child1"></div>
      <div class="messaging-child2"></div>
      <div class="messaging-child3"></div>
      <img class="vector-icon81" alt="" src="./public/vector30.svg" />

      <div class="messaging-inner1" id="groupContainer">
        <img class="group-child381" alt="" src="./public/frame-53@2x.png" />
      </div>
      <div class="frame-parent203">
        <div class="top-panel-parent">
          <div class="top-panel">
            <div class="search62">
              <div class="search-parent19">
                <img class="search-icon19" alt="" src="./public/search.svg" />

                <div class="search-messages">Search messages</div>
              </div>
            </div>
            <img
              class="filter-24-settings"
              alt=""
              src="./public/filter-24--settings.svg"
            />
          </div>
          <div class="frame-wrapper8">
            <div class="frame-parent204">
              <div class="all-frame">
                <div class="all2">All</div>
              </div>
              <div class="starred-container">
                <div class="inmail">Starred</div>
              </div>
              <div class="starred-container">
                <div class="inmail">Unread</div>
              </div>
              <div class="starred-container">
                <div class="inmail">My Connections</div>
              </div>
              <div class="starred-container">
                <div class="inmail">InMail</div>
              </div>
              <div class="starred-container">
                <div class="inmail">Archived</div>
              </div>
              <div class="starred-container">
                <div class="inmail">Spam</div>
              </div>
              <div class="frame-child145"></div>
            </div>
          </div>
        </div>
        <div class="frame-parent205">
          <div class="frame-parent206">
            <div class="group-parent64">
              <img class="frame-child146" alt="" src="./public/group-15.svg" />

              <div class="frame-parent207">
                <div class="full-name-frame">
                  <div class="inmail">Full Name</div>
                </div>
                <div class="you-your-message">You: Your message</div>
              </div>
            </div>
            <div class="am-wrapper">
              <div class="inmail">11:11 AM</div>
            </div>
          </div>
          <div class="frame-child147"></div>
          <div class="frame-parent206">
            <div class="group-parent64">
              <img class="frame-child146" alt="" src="./public/group-15.svg" />

              <div class="frame-parent207">
                <div class="full-name-frame">
                  <div class="inmail">Full Name</div>
                </div>
                <div class="you-your-message">You: Your message</div>
              </div>
            </div>
            <div class="am-wrapper">
              <div class="inmail">11:11 AM</div>
            </div>
          </div>
          <div class="frame-child147"></div>
          <div class="frame-parent206">
            <div class="group-parent64">
              <div class="rectangle-wrapper29">
                <div class="group-child382"></div>
              </div>
              <div class="frame-parent211">
                <div class="page-name-frame">
                  <div class="inmail">Page name</div>
                </div>
                <div class="sponsored-sponsored-container">
                  <span class="sponsored">Sponsored </span>
                  <span>• Sponsored message</span>
                </div>
              </div>
            </div>
            <div class="am-frame">
              <div class="inmail">11:11 AM</div>
            </div>
          </div>
          <div class="frame-child147"></div>
          <div class="frame-parent206">
            <div class="group-parent64">
              <img
                class="rectangle-wrapper29"
                alt=""
                src="./public/group-121.svg"
              />

              <div class="frame-parent211">
                <div class="full-name-full-name-and-full-wrapper">
                  <div class="full-name-full">
                    Full Name, Full Name and Full Name
                  </div>
                </div>
                <div class="sponsored-sponsored-container">You sent a post</div>
              </div>
            </div>
            <div class="am-wrapper1">
              <div class="inmail">11:11 AM</div>
            </div>
          </div>
          <div class="frame-child147"></div>
          <div class="frame-parent206">
            <div class="group-parent64">
              <img class="frame-child146" alt="" src="./public/group-15.svg" />

              <div class="frame-parent207">
                <div class="full-name-frame">
                  <div class="inmail">Full Name</div>
                </div>
                <div class="you-your-message">You: Your message</div>
              </div>
            </div>
            <div class="am-wrapper1">
              <div class="inmail">11:11 AM</div>
            </div>
          </div>
        </div>
      </div>
      <div class="search63">
        <div class="search-parent19">
          <img class="search-icon19" alt="" src="./public/search.svg" />

          <div class="search-messages">Search messages</div>
        </div>
      </div>
      <div class="frame-parent216">
        <div class="all-wrapper1">
          <div class="all2">All</div>
        </div>
        <div class="starred-frame">
          <div class="inmail">Starred</div>
        </div>
        <div class="starred-frame">
          <div class="inmail">Unread</div>
        </div>
        <div class="starred-frame">
          <div class="inmail">My Connections</div>
        </div>
        <div class="starred-frame">
          <div class="inmail">Archived</div>
        </div>
        <div class="frame-child154"></div>
      </div>
      <b class="write-a-message1">Write a message ...</b>
      <img class="vector-icon82" alt="" src="./public/vector31.svg" />

      <div class="messaging-child4"></div>
      <button class="communities31" id="communities">
        <p class="where-skills-meet28">Communities</p>
      </button>
      <button class="rectangle-parent183" id="groupButton1">
        <div class="group-child383" id="rectangle10"></div>
        <img class="icon77" alt="" src="./public/icon16.svg" />

        <b class="create6">
          <p class="where-skills-meet28">Create</p>
        </b>
      </button>
      <button class="home-parent17" id="groupButton2">
        <b class="home19">Home</b>
        <img class="union-icon26" alt="" src="./public/union.svg" />
      </button>
      <button class="communities-parent17" id="groupButton3">
        <b class="communities33"> Communities</b>
        <img class="network-icon26" alt="" src="./public/network.svg" />
      </button>
      <button class="notifications-parent17" id="groupButton4">
        <b class="notifications20">Notifications</b>
        <img class="icon78" alt="" src="./public/icon.svg" />
      </button>
      <button class="group-parent69" id="groupButton5">
        <div class="profile-wrapper13">
          <b class="profile22">Profile</b>
        </div>
        <img
          class="droopfilledaccount-icon25"
          alt=""
          src="./public/droopfilledaccount7.svg"
        />
      </button>
      <button class="messaging-parent17">
        <b class="messaging20">Messaging</b>
        <img
          class="droopfilledmessage-icon19"
          alt=""
          src="./public/droopfilledmessage1.svg"
        />
      </button>
      <div class="pm5">8:44 PM</div>
      <div class="abdelrahman5">Abdelrahman</div>
      <div class="hi1">Hi</div>
      <div class="messaging-child5"></div>
      <div class="pm6">9:30 PM</div>
      <div class="baraa5">Baraa</div>
      <div class="hey2">hey!</div>
      <div class="messaging-child6"></div>
      <button class="rectangle-parent184" id="community ">
        <div class="group-child384" id="rectangle11"></div>
        <b class="communities34">Communities</b>
      </button>
      <button class="rectangle-parent185" id="groupButton8">
        <div class="group-child384" id="rectangle12"></div>
        <b class="communities35">Communities</b>
      </button>
      <button class="rectangle-parent186" id="groupButton9">
        <div class="group-child384" id="rectangle13"></div>
        <b class="communities36">Communities</b>
      </button>
      <button class="rectangle-parent187" id="groupButton10">
        <div class="group-child384" id="rectangle14"></div>
        <b class="communities36">Communities</b>
      </button>
      <button class="rectangle-parent188" id="groupButton11">
        <div class="group-child384" id="rectangle15"></div>
        <b class="communities36">Communities</b>
      </button>
    </div>

    <script>
      var groupButton = document.getElementById("groupButton");
      if (groupButton) {
        groupButton.addEventListener("click", function (e) {
          window.location.href = "./after-login.html";
        });
      }
      
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "./profile-pov.html";
        });
      }
      
      var communities = document.getElementById("communities");
      if (communities) {
        communities.addEventListener("click", function (e) {
          window.location.href = "./communities-overview.html";
        });
      }
      
      var rectangle10 = document.getElementById("rectangle10");
      if (rectangle10) {
        rectangle10.addEventListener("click", function (e) {
          window.location.href = "./new-community-tab.html";
        });
      }
      
      var groupButton1 = document.getElementById("groupButton1");
      if (groupButton1) {
        groupButton1.addEventListener("click", function (e) {
          window.location.href = "./new-community-tab.html";
        });
      }
      
      var groupButton2 = document.getElementById("groupButton2");
      if (groupButton2) {
        groupButton2.addEventListener("click", function (e) {
          window.location.href = "./after-login.html";
        });
      }
      
      var groupButton3 = document.getElementById("groupButton3");
      if (groupButton3) {
        groupButton3.addEventListener("click", function (e) {
          window.location.href = "./communities-overview.html";
        });
      }
      
      var groupButton4 = document.getElementById("groupButton4");
      if (groupButton4) {
        groupButton4.addEventListener("click", function (e) {
          window.location.href = "./notifications.html";
        });
      }
      
      var groupButton5 = document.getElementById("groupButton5");
      if (groupButton5) {
        groupButton5.addEventListener("click", function (e) {
          window.location.href = "./profile-user-pov.html";
        });
      }
      
      var rectangle11 = document.getElementById("rectangle11");
      if (rectangle11) {
        rectangle11.addEventListener("click", function (e) {
          window.location.href = "./community-posts.html";
        });
      }
      
      var groupButton7 = document.getElementById("community ");
      if (groupButton7) {
        groupButton7.addEventListener("click", function (e) {
          window.location.href = "./community-posts.html";
        });
      }
      
      var rectangle12 = document.getElementById("rectangle12");
      if (rectangle12) {
        rectangle12.addEventListener("click", function (e) {
          window.location.href = "./community-posts.html";
        });
      }
      
      var groupButton8 = document.getElementById("groupButton8");
      if (groupButton8) {
        groupButton8.addEventListener("click", function (e) {
          window.location.href = "./community-posts.html";
        });
      }
      
      var rectangle13 = document.getElementById("rectangle13");
      if (rectangle13) {
        rectangle13.addEventListener("click", function (e) {
          window.location.href = "./community-posts.html";
        });
      }
      
      var groupButton9 = document.getElementById("groupButton9");
      if (groupButton9) {
        groupButton9.addEventListener("click", function (e) {
          window.location.href = "./community-posts.html";
        });
      }
      
      var rectangle14 = document.getElementById("rectangle14");
      if (rectangle14) {
        rectangle14.addEventListener("click", function (e) {
          window.location.href = "./community-posts.html";
        });
      }
      
      var groupButton10 = document.getElementById("groupButton10");
      if (groupButton10) {
        groupButton10.addEventListener("click", function (e) {
          window.location.href = "./community-posts.html";
        });
      }
      
      var rectangle15 = document.getElementById("rectangle15");
      if (rectangle15) {
        rectangle15.addEventListener("click", function (e) {
          window.location.href = "./community-posts.html";
        });
      }
      
      var groupButton11 = document.getElementById("groupButton11");
      if (groupButton11) {
        groupButton11.addEventListener("click", function (e) {
          window.location.href = "./community-posts.html";
        });
      }
      </script>
  </body>
</html>
