.vector-icon11 {
  position: absolute;
  top: 512px;
  left: 0;
  width: 1994px;
  height: 553px;
}
.microsoftpassword-child {
  position: absolute;
  top: 271px;
  left: 412px;
  border-radius: var(--br-xl);
  background-color: var(--color-gainsboro-600);
  width: 615px;
  height: 599px;
}
.microsoft-logo-icon {
  position: relative;
  width: 108px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.vector-icon12 {
  position: absolute;
  height: 66.67%;
  width: 66.67%;
  top: 16.67%;
  right: 16.67%;
  bottom: 16.67%;
  left: 16.67%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.arrowbackoutlined {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
}
.body {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.2px;
  line-height: 18px;
}
.account,
.email {
  display: flex;
  justify-content: flex-start;
}
.email {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}
.account {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: var(--gap-9xs);
}
.body1 {
  position: relative;
  line-height: 32px;
}
.title {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--font-size-5xl);
}
.templabel {
  position: relative;
  letter-spacing: 0.2px;
  line-height: 12px;
  display: flex;
  align-items: center;
  width: 62px;
}
.password1,
.underline-icon {
  align-self: stretch;
  position: relative;
}
.password1 {
  border: 0;
  background-color: transparent;
  font-family: var(--components-input-label);
  font-size: var(--components-input-text-size);
  letter-spacing: 0.2px;
  line-height: 24px;
  color: var(--color-gray-200);
  text-align: left;
}
.underline-icon {
  max-width: 100%;
  overflow: hidden;
  height: 1px;
  flex-shrink: 0;
}
.input4,
.text-fieldstandard {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.input4 {
  gap: var(--gap-7xs-5);
}
.text-fieldstandard {
  font-size: var(--components-input-label-size);
  color: var(--color-gray-200);
}
.body2 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  font-size: var(--font-size-sm);
  letter-spacing: 0.2px;
  line-height: 18px;
  font-family: var(--components-input-label);
  color: var(--color-cornflowerblue);
  text-align: left;
  display: inline-block;
}
.email-code {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.label {
  position: relative;
  font-size: var(--components-input-label-size);
  letter-spacing: 0.4px;
  line-height: 22px;
  font-family: var(--components-input-label);
  color: var(--simply-white);
  text-align: left;
}
.button5 {
  overflow: hidden;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-3xs);
}
.button4,
.button5,
.buttoncontained {
  display: flex;
  flex-direction: column;
}
.buttoncontained {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-cornflowerblue);
  width: 120px;
  height: 30px;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}
.button4 {
  align-self: stretch;
  align-items: flex-end;
  justify-content: flex-start;
}
.microsoft-sign-in,
.sign-in {
  position: absolute;
  width: 497px;
  height: 393.08px;
}
.sign-in {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--simply-white);
  box-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-13xl);
  box-sizing: border-box;
  gap: var(--gap-base);
}
.microsoft-sign-in {
  top: 352.88px;
  left: 472px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--color-black);
  font-family: var(--components-input-label);
}
.ellipse-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--color-gainsboro-600);
  width: 94px;
  height: 89px;
}
.chevron-right-icon3 {
  position: absolute;
  top: 23.73px;
  left: 27.16px;
  width: 41.78px;
  height: 39.56px;
  overflow: hidden;
}
.back-button3 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 87px;
  left: 89px;
  width: 94px;
  height: 89px;
}
.ne4 {
  font-weight: 800;
}
.x4 {
  font-size: var(--font-size-81xl);
  font-weight: 700;
}
.nexus4 {
  position: absolute;
  top: 97px;
  left: 549px;
  display: inline-block;
  width: 365px;
  height: 115px;
  font-size: var(--font-size-77xl);
}
.where-skills-meet2 {
  margin: 0;
}
.where-skills-meet-container2 {
  position: absolute;
  top: 198px;
  left: 555px;
  font-size: var(--font-size-4xl);
}
.microsoftpassword {
  position: relative;
  background-color: var(--simply-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--white);
  font-family: var(--font-inter);
}
