<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./new-community-tab-confirmation.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@300;400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="new-community-tab-confirmation">
      <div class="profile-nav-bar10"></div>
      <div class="nexus23">
        <span class="ne23">NE</span>
        <i class="x23">X</i>
        <span class="ne23">US</span>
      </div>
      <b class="where-skills-meet-container19">
        <p class="where-skills-meet19">Where Skills Meet Solutions</p>
      </b>
      <div class="search34">
        <div class="search-parent10">
          <img class="search-icon10" alt="" src="./public/search.svg" />

          <div class="search35">Search</div>
        </div>
      </div>
      <div class="rectangle-parent95">
        <div class="group-child173"></div>
        <div class="create-a-community">Create A Community</div>
        <div class="start-building-your">Start Building Your Community !</div>
      </div>
      <div class="home-parent8" id="groupContainer1">
        <b class="home10">Home</b>
        <img class="union-icon17" alt="" src="./public/union.svg" />
      </div>
      <div class="communities-parent8" id="groupContainer2">
        <b class="communities14"> Communities</b>
        <img class="network-icon17" alt="" src="./public/network5.svg" />
      </div>
      <div class="notifications-parent8" id="groupContainer3">
        <b class="notifications10">Notifications</b>
        <img class="icon44" alt="" src="./public/icon.svg" />
      </div>
      <div class="group-parent41" id="groupContainer5">
        <div class="profile-wrapper5">
          <b class="profile13">Profile</b>
        </div>
        <img
          class="droopfilledaccount-icon11"
          alt=""
          src="./public/droopfilledaccount9.svg"
        />
      </div>
      <div class="messaging-parent8" id="groupContainer6">
        <b class="messaging10">Messaging</b>
        <img
          class="droopfilledmessage-icon10"
          alt=""
          src="./public/droopfilledmessage.svg"
        />
      </div>
      <div class="rectangle-parent96">
        <div class="group-child174"></div>
        <div class="search36">
          <div class="enter-name-wrapper">
            <div class="enter-name">Enter Name</div>
          </div>
        </div>
        <div class="community-name">Community Name</div>
      </div>
      <div class="group-parent42">
        <div class="rectangle-wrapper20">
          <div class="group-child175"></div>
        </div>
        <div class="search37"></div>
      </div>
      <div class="provide-a-detailed1">
        Provide a detailed description of your project
      </div>
      <div class="community-description">
        <p class="where-skills-meet19">Community Description:</p>
      </div>
      <div class="new-community-tab-confirmation-child"></div>
      <div class="new-community-tab-confirmation-item"></div>
      <div class="new-community-tab-confirmation-inner"></div>
      <div class="new-community-tab-confirmation-child1"></div>
      <div class="new-community-tab-confirmation-child2"></div>
      <div class="new-community-tab-confirmation-child3"></div>
      <div class="rectangle-parent97">
        <div class="group-child176"></div>
        <div class="key-community-details">Key Community Details:</div>
        <div class="category1">Category:</div>
        <div class="rectangle-parent98">
          <div class="group-child177"></div>
          <div class="group-child178"></div>
          <div class="group-child179"></div>
          <div class="group-child180"></div>
          <div class="group-child181"></div>
          <div class="group-child182"></div>
          <div class="group-child183"></div>
          <img
            class="droopfilledadd-circle-icon2"
            alt=""
            src="./public/droopfilledadd-circle.svg"
          />
        </div>
      </div>
      <div class="rectangle-parent99">
        <div class="group-child184"></div>
        <div class="location5">Location</div>
        <div class="rectangle-parent100">
          <div class="group-child185"></div>
          <div class="pick-location1">Pick Location</div>
          <img class="group-child186" alt="" src="./public/polygon-1.svg" />
        </div>
      </div>
      <div class="rectangle-parent101">
        <div class="group-child187"></div>
        <div class="key-community-details">Guide lines</div>
        <img
          class="droopfilledadd-circle-icon3"
          alt=""
          src="./public/droopfilledadd-circle.svg"
        />

        <div class="group-child188"></div>
      </div>
      <div class="rectangle-parent102">
        <div class="group-child189"></div>
        <div class="community-owner-contact">
          Community Owner Contact Information
        </div>
        <div class="droopfilledcalling-group">
          <img
            class="droopfilledcalling-icon1"
            alt=""
            src="./public/droopfilledcalling.svg"
          />

          <div class="group-child190"></div>
          <div class="phone-number1">Phone Number</div>
        </div>
        <div class="droopfilledmail-group">
          <img
            class="droopfilledmail-icon1"
            alt=""
            src="./public/droopfilledmail1.svg"
          />

          <div class="group-child191"></div>
          <div class="email3">Email</div>
        </div>
        <div class="rectangle-parent103">
          <div class="group-child192"></div>
          <div class="project-owner3">Project Owner</div>
          <img
            class="droopfilledaccount-icon12"
            alt=""
            src="./public/droopfilledaccount8.svg"
          />
        </div>
      </div>
      <div class="rectangle-parent104">
        <div class="group-child193"></div>
        <div class="create-community">Create Community</div>
      </div>
      <div class="new-community-tab-confirmation-child4"></div>
      <div class="rectangle-parent105">
        <div class="group-child194"></div>
        <div class="community-created-successfully">
          Community Created Successfully!
        </div>
      </div>
      <img
        class="droopfilleddone-square-icon1"
        alt=""
        src="./public/droopfilleddone-square.svg"
      />
    </div>

    <script>
      var groupContainer1 = document.getElementById("groupContainer1");
      if (groupContainer1) {
        groupContainer1.addEventListener("click", function (e) {
          window.location.href = "./after-login.html";
        });
      }
      
      var groupContainer2 = document.getElementById("groupContainer2");
      if (groupContainer2) {
        groupContainer2.addEventListener("click", function (e) {
          window.location.href = "./communities-overview.html";
        });
      }
      
      var groupContainer3 = document.getElementById("groupContainer3");
      if (groupContainer3) {
        groupContainer3.addEventListener("click", function (e) {
          window.location.href = "./notifications.html";
        });
      }
      
      var groupContainer5 = document.getElementById("groupContainer5");
      if (groupContainer5) {
        groupContainer5.addEventListener("click", function (e) {
          window.location.href = "./profile-user-pov.html";
        });
      }
      
      var groupContainer6 = document.getElementById("groupContainer6");
      if (groupContainer6) {
        groupContainer6.addEventListener("click", function (e) {
          window.location.href = "./messaging.html";
        });
      }
      </script>
  </body>
</html>
