<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./new-project-tab-confirmation.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@300;400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="new-project-tab-confirmation">
      <div class="profile-nav-bar9"></div>
      <div class="nexus22">
        <span class="ne22">NE</span>
        <i class="x22">X</i>
        <span class="ne22">US</span>
      </div>
      <b class="where-skills-meet-container18">
        <p class="where-skills-meet18">Where Skills Meet Solutions</p>
      </b>
      <div class="search30">
        <div class="search-parent9">
          <img class="search-icon9" alt="" src="./public/search.svg" />

          <div class="search31">Search</div>
        </div>
      </div>
      <div class="rectangle-parent81">
        <div class="group-child133"></div>
        <div class="create-a-project">Create A Project</div>
        <div class="start-your-next">Start Your Next Great Idea Here !</div>
      </div>
      <div class="home-parent7" id="groupContainer1">
        <b class="home9">Home</b>
        <img class="union-icon16" alt="" src="./public/union.svg" />
      </div>
      <div class="communities-parent7" id="groupContainer2">
        <b class="communities13"> Communities</b>
        <img class="network-icon16" alt="" src="./public/network.svg" />
      </div>
      <div class="notifications-parent7" id="groupContainer3">
        <b class="notifications9">Notifications</b>
        <img class="icon43" alt="" src="./public/icon.svg" />
      </div>
      <div class="group-parent38" id="groupContainer5">
        <div class="profile-wrapper4">
          <b class="profile12">Profile</b>
        </div>
        <img
          class="droopfilledaccount-icon9"
          alt=""
          src="./public/droopfilledaccount3.svg"
        />
      </div>
      <div class="messaging-parent7" id="groupContainer6">
        <b class="messaging9">Messaging</b>
        <img
          class="droopfilledmessage-icon9"
          alt=""
          src="./public/droopfilledmessage.svg"
        />
      </div>
      <div class="rectangle-parent82">
        <div class="group-child134"></div>
        <div class="search32">
          <div class="enter-a-concise-and-descriptiv-wrapper">
            <div class="enter-a-concise">
              Enter a concise and descriptive title for your project
            </div>
          </div>
        </div>
        <div class="project-title2">Project Title:</div>
      </div>
      <div class="group-parent39">
        <div class="rectangle-wrapper18">
          <div class="group-child135"></div>
        </div>
        <div class="search33"></div>
      </div>
      <div class="provide-a-detailed">
        Provide a detailed description of your project
      </div>
      <div class="project-description">
        <p class="where-skills-meet18">Project Description:</p>
      </div>
      <div class="new-project-tab-confirmation-child"></div>
      <div class="new-project-tab-confirmation-item"></div>
      <div class="new-project-tab-confirmation-inner"></div>
      <div class="new-project-tab-confirmation-child1"></div>
      <div class="new-project-tab-confirmation-child2"></div>
      <div class="new-project-tab-confirmation-child3"></div>
      <div class="new-project-tab-confirmation-child4"></div>
      <div class="rectangle-parent83">
        <div class="group-child136"></div>
        <div class="key-project-details">Key Project Details:</div>
        <div class="category">Category:</div>
        <div class="rectangle-parent84">
          <div class="group-child137"></div>
          <div class="group-child138"></div>
          <div class="group-child139"></div>
          <div class="group-child140"></div>
          <div class="group-child141"></div>
          <div class="group-child142"></div>
          <div class="group-child143"></div>
          <img
            class="droopfilledadd-circle-icon"
            alt=""
            src="./public/droopfilledadd-circle.svg"
          />
        </div>
      </div>
      <div class="rectangle-parent85">
        <div class="group-child144"></div>
        <div class="location4">Location</div>
        <div class="rectangle-parent86">
          <div class="group-child145"></div>
          <div class="pick-location">Pick Location</div>
          <img class="polygon-icon" alt="" src="./public/polygon-1.svg" />
        </div>
      </div>
      <div class="rectangle-parent87">
        <div class="group-child146"></div>
        <div class="duration2">Duration:</div>
        <div class="rectangle-parent88">
          <div class="group-child147"></div>
          <div class="start">Start</div>
          <img class="group-child148" alt="" src="./public/polygon-2.svg" />
        </div>
        <div class="group-parent40">
          <div class="rectangle-wrapper19">
            <div class="group-child147"></div>
          </div>
          <div class="end">End</div>
          <img class="group-child150" alt="" src="./public/polygon-2.svg" />
        </div>
      </div>
      <div class="rectangle-parent89">
        <div class="group-child151"></div>
        <div class="key-project-details">Skills Needed</div>
        <img
          class="droopfilledadd-circle-icon1"
          alt=""
          src="./public/droopfilledadd-circle.svg"
        />

        <div class="group-child152"></div>
        <div class="rectangle-parent90">
          <div class="group-child153"></div>
          <div class="group-child154"></div>
          <div class="group-child155"></div>
          <div class="group-child156"></div>
          <div class="group-child157"></div>
          <div class="group-child158"></div>
          <div class="group-child159"></div>
          <div class="group-child160"></div>
          <div class="group-child161"></div>
          <div class="group-child162"></div>
          <div class="group-child163"></div>
          <div class="group-child164"></div>
          <div class="group-child165"></div>
          <div class="group-child166"></div>
        </div>
      </div>
      <div class="rectangle-parent91" id="groupContainer23">
        <div class="group-child167"></div>
        <div class="project-owner-contact">
          Project Owner Contact Information
        </div>
        <div class="droopfilledcalling-parent">
          <img
            class="droopfilledcalling-icon"
            alt=""
            src="./public/droopfilledcalling.svg"
          />

          <div class="group-child168"></div>
          <div class="phone-number">Phone Number</div>
        </div>
        <div class="droopfilledmail-parent">
          <img
            class="droopfilledmail-icon"
            alt=""
            src="./public/droopfilledmail.svg"
          />

          <div class="group-child169"></div>
          <div class="email2">Email</div>
        </div>
        <div class="rectangle-parent92">
          <div class="group-child170"></div>
          <div class="project-owner2">Project Owner</div>
          <img
            class="droopfilledaccount-icon10"
            alt=""
            src="./public/droopfilledaccount8.svg"
          />
        </div>
      </div>
      <div class="rectangle-parent93">
        <div class="group-child171"></div>
        <div class="create-a-new1">Create A new Project</div>
      </div>
      <div class="new-project-tab-confirmation-child5"></div>
      <div class="rectangle-parent94">
        <div class="group-child172"></div>
        <div class="project-created-successfully">
          Project Created Successfully!
        </div>
      </div>
      <img
        class="droopfilleddone-square-icon"
        alt=""
        src="./public/droopfilleddone-square.svg"
      />
    </div>

    <script>
      var groupContainer1 = document.getElementById("groupContainer1");
      if (groupContainer1) {
        groupContainer1.addEventListener("click", function (e) {
          window.location.href = "./after-login.html";
        });
      }
      
      var groupContainer2 = document.getElementById("groupContainer2");
      if (groupContainer2) {
        groupContainer2.addEventListener("click", function (e) {
          window.location.href = "./communities-overview.html";
        });
      }
      
      var groupContainer3 = document.getElementById("groupContainer3");
      if (groupContainer3) {
        groupContainer3.addEventListener("click", function (e) {
          window.location.href = "./notifications.html";
        });
      }
      
      var groupContainer5 = document.getElementById("groupContainer5");
      if (groupContainer5) {
        groupContainer5.addEventListener("click", function (e) {
          window.location.href = "./profile-user-pov.html";
        });
      }
      
      var groupContainer6 = document.getElementById("groupContainer6");
      if (groupContainer6) {
        groupContainer6.addEventListener("click", function (e) {
          window.location.href = "./messaging.html";
        });
      }
      
      var groupContainer23 = document.getElementById("groupContainer23");
      if (groupContainer23) {
        groupContainer23.addEventListener("click", function (e) {
          window.location.href = "./profile-pov.html";
        });
      }
      </script>
  </body>
</html>
