<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./new-project-e-n-d.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@300;400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="new-project-end">
      <div class="profile-nav-bar13"></div>
      <div class="nexus26">
        <span class="ne26">NE</span>
        <i class="x26">X</i>
        <span class="ne26">US</span>
      </div>
      <b class="where-skills-meet-container22">
        <p class="where-skills-meet22">Where Skills Meet Solutions</p>
      </b>
      <div class="search44">
        <div class="search-parent13">
          <img class="search-icon13" alt="" src="./public/search.svg" />

          <div class="search45">Search</div>
        </div>
      </div>
      <div class="rectangle-parent122">
        <div class="group-child225"></div>
        <div class="create-a-project1">Create A Project</div>
        <div class="start-your-next1">Start Your Next Great Idea Here !</div>
      </div>
      <div class="home-parent11" id="groupContainer1">
        <b class="home13">Home</b>
        <img class="union-icon20" alt="" src="./public/union.svg" />
      </div>
      <div class="communities-parent11" id="groupContainer2">
        <b class="communities17"> Communities</b>
        <img class="network-icon20" alt="" src="./public/network.svg" />
      </div>
      <div class="notifications-parent11" id="groupContainer3">
        <b class="notifications13">Notifications</b>
        <img class="icon61" alt="" src="./public/icon.svg" />
      </div>
      <div class="group-parent51" id="groupContainer5">
        <div class="profile-wrapper8">
          <b class="profile16">Profile</b>
        </div>
        <img
          class="droopfilledaccount-icon16"
          alt=""
          src="./public/droopfilledaccount3.svg"
        />
      </div>
      <div class="messaging-parent11" id="groupContainer6">
        <b class="messaging13">Messaging</b>
        <img
          class="droopfilledmessage-icon13"
          alt=""
          src="./public/droopfilledmessage.svg"
        />
      </div>
      <div class="rectangle-parent123">
        <div class="group-child226"></div>
        <div class="search46">
          <div class="enter-a-concise-and-descriptiv-container">
            <div class="enter-a-concise1">
              Enter a concise and descriptive title for your project
            </div>
          </div>
        </div>
        <div class="project-title3">Project Title:</div>
      </div>
      <div class="group-parent52">
        <div class="rectangle-wrapper23">
          <div class="group-child227"></div>
        </div>
        <div class="search47"></div>
      </div>
      <div class="provide-a-detailed3">
        Provide a detailed description of your project
      </div>
      <div class="project-description2">
        <p class="where-skills-meet22">Project Description:</p>
      </div>
      <div class="new-project-end-child"></div>
      <div class="new-project-end-item"></div>
      <div class="new-project-end-inner"></div>
      <div class="new-project-end-child1"></div>
      <div class="new-project-end-child2"></div>
      <div class="new-project-end-child3"></div>
      <div class="new-project-end-child4"></div>
      <div class="rectangle-parent124">
        <div class="group-child228"></div>
        <div class="key-project-details1">Key Project Details:</div>
        <div class="category3">Category:</div>
        <div class="rectangle-parent125">
          <div class="group-child229"></div>
          <div class="group-child230"></div>
          <div class="group-child231"></div>
          <div class="group-child232"></div>
          <div class="group-child233"></div>
          <div class="group-child234"></div>
          <div class="group-child235"></div>
          <img
            class="droopfilledadd-circle-icon6"
            alt=""
            src="./public/droopfilledadd-circle.svg"
          />
        </div>
      </div>
      <div class="rectangle-parent126">
        <div class="group-child236"></div>
        <div class="location7">Location</div>
        <div class="rectangle-parent127">
          <div class="group-child237"></div>
          <div class="pick-location3">Pick Location</div>
          <img class="group-child238" alt="" src="./public/polygon-1.svg" />
        </div>
      </div>
      <div class="rectangle-parent128">
        <div class="group-child239"></div>
        <div class="duration3">Duration:</div>
        <div class="rectangle-parent129">
          <div class="group-child240"></div>
          <div class="start1">Start</div>
          <img class="group-child241" alt="" src="./public/polygon-2.svg" />
        </div>
        <div class="group-parent53">
          <div class="rectangle-wrapper24">
            <div class="group-child240"></div>
          </div>
          <div class="end1">End</div>
          <img class="group-child243" alt="" src="./public/polygon-2.svg" />
        </div>
      </div>
      <div class="rectangle-parent130">
        <div class="group-child244"></div>
        <div class="key-project-details1">Skills Needed</div>
        <img
          class="droopfilledadd-circle-icon7"
          alt=""
          src="./public/droopfilledadd-circle.svg"
        />

        <div class="group-child245"></div>
        <div class="rectangle-parent131">
          <div class="group-child246"></div>
          <div class="group-child247"></div>
          <div class="group-child248"></div>
          <div class="group-child249"></div>
          <div class="group-child250"></div>
          <div class="group-child251"></div>
          <div class="group-child252"></div>
          <div class="group-child253"></div>
          <div class="group-child254"></div>
          <div class="group-child255"></div>
          <div class="group-child256"></div>
          <div class="group-child257"></div>
          <div class="group-child258"></div>
          <div class="group-child259"></div>
        </div>
      </div>
      <div class="rectangle-parent132">
        <div class="group-child260"></div>
        <div class="contact-information">Contact Information</div>
        <div class="droopfilledcalling-parent1">
          <img
            class="droopfilledcalling-icon3"
            alt=""
            src="./public/droopfilledcalling.svg"
          />

          <div class="group-child261"></div>
          <div class="phone-number3">Phone Number</div>
        </div>
        <div class="droopfilledmail-parent1">
          <img
            class="droopfilledmail-icon3"
            alt=""
            src="./public/droopfilledmail.svg"
          />

          <div class="group-child262"></div>
          <div class="email5">Email</div>
        </div>
        <div class="rectangle-parent133">
          <div class="group-child263"></div>
          <div class="project-owner5">Project Owner</div>
          <img
            class="droopfilledaccount-icon17"
            alt=""
            src="./public/droopfilledaccount8.svg"
          />
        </div>
      </div>
      <div class="date-picker">
        <div class="header2">
          <div class="dropdown">
            <b class="month">June</b>
            <img class="icon62" alt="" src="./public/icon14.svg" />
          </div>
          <div class="dropdown1">
            <b class="month">2022</b>
            <img class="icon62" alt="" src="./public/icon14.svg" />
          </div>
        </div>
        <div class="frame-parent178">
          <div class="date-picker-day-parent">
            <div class="date-picker-day">
              <div class="day-wrapper">
                <div class="date">Mo</div>
              </div>
            </div>
            <div class="date-picker-day">
              <div class="day-wrapper">
                <div class="date">tu</div>
              </div>
            </div>
            <div class="date-picker-day">
              <div class="day-wrapper">
                <div class="date">we</div>
              </div>
            </div>
            <div class="date-picker-day">
              <div class="day-wrapper">
                <div class="date">th</div>
              </div>
            </div>
            <div class="date-picker-day">
              <div class="day-wrapper">
                <div class="date">fr</div>
              </div>
            </div>
            <div class="date-picker-day">
              <div class="day-wrapper">
                <div class="date">sa</div>
              </div>
            </div>
            <div class="date-picker-day">
              <div class="day-wrapper">
                <div class="date">su</div>
              </div>
            </div>
          </div>
          <div class="frame-parent179">
            <div class="date-picker-day-group">
              <div class="date-picker-day7">
                <div class="day-wrapper">
                  <div class="date7">1</div>
                </div>
              </div>
              <div class="date-picker-day7">
                <div class="day-wrapper">
                  <div class="date7">1</div>
                </div>
              </div>
              <div class="date-picker-day7">
                <div class="day-wrapper">
                  <div class="date9">1</div>
                </div>
              </div>
              <div class="date-picker-day7">
                <div class="day-wrapper">
                  <div class="date9">2</div>
                </div>
              </div>
              <div class="date-picker-day7">
                <div class="day-wrapper">
                  <div class="date9">3</div>
                </div>
              </div>
              <div class="date-picker-day7">
                <div class="day-wrapper">
                  <div class="date9">4</div>
                </div>
              </div>
              <div class="date-picker-day7">
                <div class="day-wrapper">
                  <div class="date9">5</div>
                </div>
              </div>
            </div>
            <div class="date-picker-day-container">
              <div class="date-picker-day14">
                <div class="day-wrapper">
                  <div class="date9">6</div>
                </div>
              </div>
              <div class="date-picker-day15">
                <div class="day-wrapper15">
                  <div class="date15">7</div>
                </div>
              </div>
              <div class="date-picker-day16">
                <div class="day-wrapper16">
                  <div class="date16">8</div>
                </div>
              </div>
              <div class="date-picker-day16">
                <div class="day-wrapper16">
                  <div class="date16">9</div>
                </div>
              </div>
              <div class="date-picker-day16">
                <div class="day-wrapper16">
                  <div class="date16">10</div>
                </div>
              </div>
              <div class="date-picker-day16">
                <div class="day-wrapper16">
                  <div class="date16">11</div>
                </div>
              </div>
              <div class="date-picker-day16">
                <div class="day-wrapper16">
                  <div class="date16">12</div>
                </div>
              </div>
            </div>
            <div class="date-picker-day-container">
              <div class="date-picker-day16">
                <div class="day-wrapper16">
                  <div class="date16">13</div>
                </div>
              </div>
              <div class="date-picker-day16">
                <div class="day-wrapper16">
                  <div class="date16">14</div>
                </div>
              </div>
              <div class="date-picker-day16">
                <div class="day-wrapper16">
                  <div class="date16">15</div>
                </div>
              </div>
              <div class="date-picker-day16">
                <div class="day-wrapper16">
                  <div class="date16">16</div>
                </div>
              </div>
              <div class="date-picker-day25">
                <div class="day-wrapper15">
                  <div class="date15">17</div>
                </div>
              </div>
              <div class="date-picker-day14">
                <div class="day-wrapper">
                  <div class="date9">18</div>
                </div>
              </div>
              <div class="date-picker-day14">
                <div class="day-wrapper">
                  <div class="date9">19</div>
                </div>
              </div>
            </div>
            <div class="date-picker-day-group">
              <div class="date-picker-day7">
                <div class="day-wrapper">
                  <div class="date9">20</div>
                </div>
              </div>
              <div class="date-picker-day7">
                <div class="day-wrapper">
                  <div class="date9">21</div>
                </div>
              </div>
              <div class="date-picker-day7">
                <div class="day-wrapper">
                  <div class="date9">22</div>
                </div>
              </div>
              <div class="date-picker-day7">
                <div class="day-wrapper">
                  <div class="date9">23</div>
                </div>
              </div>
              <div class="date-picker-day7">
                <div class="day-wrapper">
                  <div class="date9">24</div>
                </div>
              </div>
              <div class="date-picker-day7">
                <div class="day-wrapper">
                  <div class="date9">25</div>
                </div>
              </div>
              <div class="date-picker-day7">
                <div class="day-wrapper">
                  <div class="date9">26</div>
                </div>
              </div>
            </div>
            <div class="date-picker-day-group">
              <div class="date-picker-day7">
                <div class="day-wrapper">
                  <div class="date9">27</div>
                </div>
              </div>
              <div class="date-picker-day7">
                <div class="day-wrapper">
                  <div class="date9">28</div>
                </div>
              </div>
              <div class="date-picker-day7">
                <div class="day-wrapper">
                  <div class="date9">29</div>
                </div>
              </div>
              <div class="date-picker-day7">
                <div class="day-wrapper">
                  <div class="date9">30</div>
                </div>
              </div>
              <div class="date-picker-day7">
                <div class="day-wrapper">
                  <div class="date7">1</div>
                </div>
              </div>
              <div class="date-picker-day7">
                <div class="day-wrapper">
                  <div class="date7">1</div>
                </div>
              </div>
              <div class="date-picker-day7">
                <div class="day-wrapper">
                  <div class="date7">1</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="buttons-parent">
          <div class="buttons">
            <div class="buttons1">
              <img class="iconly" alt="" src="./public/iconly.svg" />

              <div class="month2">Reset</div>
            </div>
          </div>
          <div class="buttons2">
            <div class="buttons3">
              <img class="iconly" alt="" src="./public/iconly.svg" />

              <div class="month2">Done</div>
            </div>
          </div>
        </div>
      </div>
      <div class="new-project-end-child5"></div>
      <div class="create-a-new3">Create A new Project</div>
    </div>

    <script>
      var groupContainer1 = document.getElementById("groupContainer1");
      if (groupContainer1) {
        groupContainer1.addEventListener("click", function (e) {
          window.location.href = "./after-login.html";
        });
      }
      
      var groupContainer2 = document.getElementById("groupContainer2");
      if (groupContainer2) {
        groupContainer2.addEventListener("click", function (e) {
          window.location.href = "./communities-overview.html";
        });
      }
      
      var groupContainer3 = document.getElementById("groupContainer3");
      if (groupContainer3) {
        groupContainer3.addEventListener("click", function (e) {
          window.location.href = "./notifications.html";
        });
      }
      
      var groupContainer5 = document.getElementById("groupContainer5");
      if (groupContainer5) {
        groupContainer5.addEventListener("click", function (e) {
          window.location.href = "./profile-user-pov.html";
        });
      }
      
      var groupContainer6 = document.getElementById("groupContainer6");
      if (groupContainer6) {
        groupContainer6.addEventListener("click", function (e) {
          window.location.href = "./messaging.html";
        });
      }
      </script>
  </body>
</html>
