<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./new-project-s-t-a-r-t.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@300;400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="new-project-start">
      <div class="profile-nav-bar14"></div>
      <div class="nexus27">
        <span class="ne27">NE</span>
        <i class="x27">X</i>
        <span class="ne27">US</span>
      </div>
      <b class="where-skills-meet-container23">
        <p class="where-skills-meet23">Where Skills Meet Solutions</p>
      </b>
      <div class="search48">
        <div class="search-parent14">
          <img class="search-icon14" alt="" src="./public/search.svg" />

          <div class="search49">Search</div>
        </div>
      </div>
      <div class="rectangle-parent134">
        <div class="group-child264"></div>
        <div class="create-a-project2">Create A Project</div>
        <div class="start-your-next2">Start Your Next Great Idea Here !</div>
      </div>
      <div class="home-parent12" id="groupContainer1">
        <b class="home14">Home</b>
        <img class="union-icon21" alt="" src="./public/union.svg" />
      </div>
      <div class="communities-parent12" id="groupContainer2">
        <b class="communities18"> Communities</b>
        <img class="network-icon21" alt="" src="./public/network.svg" />
      </div>
      <div class="notifications-parent12" id="groupContainer3">
        <b class="notifications14">Notifications</b>
        <img class="icon64" alt="" src="./public/icon.svg" />
      </div>
      <div class="group-parent54" id="groupContainer5">
        <div class="profile-wrapper9">
          <b class="profile17">Profile</b>
        </div>
        <img
          class="droopfilledaccount-icon18"
          alt=""
          src="./public/droopfilledaccount3.svg"
        />
      </div>
      <div class="messaging-parent12" id="groupContainer6">
        <b class="messaging14">Messaging</b>
        <img
          class="droopfilledmessage-icon14"
          alt=""
          src="./public/droopfilledmessage.svg"
        />
      </div>
      <div class="rectangle-parent135">
        <div class="group-child265"></div>
        <div class="search50">
          <div class="enter-a-concise-and-descriptiv-frame">
            <div class="enter-a-concise2">
              Enter a concise and descriptive title for your project
            </div>
          </div>
        </div>
        <div class="project-title4">Project Title:</div>
      </div>
      <div class="group-parent55">
        <div class="rectangle-wrapper25">
          <div class="group-child266"></div>
        </div>
        <div class="search51"></div>
      </div>
      <div class="provide-a-detailed4">
        Provide a detailed description of your project
      </div>
      <div class="project-description4">
        <p class="where-skills-meet23">Project Description:</p>
      </div>
      <div class="new-project-start-child"></div>
      <div class="new-project-start-item"></div>
      <div class="new-project-start-inner"></div>
      <div class="new-project-start-child1"></div>
      <div class="new-project-start-child2"></div>
      <div class="new-project-start-child3"></div>
      <div class="new-project-start-child4"></div>
      <div class="rectangle-parent136">
        <div class="group-child267"></div>
        <div class="key-project-details2">Key Project Details:</div>
        <div class="category4">Category:</div>
        <div class="rectangle-parent137">
          <div class="group-child268"></div>
          <div class="group-child269"></div>
          <div class="group-child270"></div>
          <div class="group-child271"></div>
          <div class="group-child272"></div>
          <div class="group-child273"></div>
          <div class="group-child274"></div>
          <img
            class="droopfilledadd-circle-icon8"
            alt=""
            src="./public/droopfilledadd-circle.svg"
          />
        </div>
      </div>
      <div class="rectangle-parent138">
        <div class="group-child275"></div>
        <div class="location8">Location</div>
        <div class="rectangle-parent139">
          <div class="group-child276"></div>
          <div class="pick-location4">Pick Location</div>
          <img class="group-child277" alt="" src="./public/polygon-1.svg" />
        </div>
      </div>
      <div class="rectangle-parent140">
        <div class="group-child278"></div>
        <div class="duration4">Duration:</div>
        <div class="rectangle-parent141">
          <div class="group-child279"></div>
          <div class="start2">Start</div>
          <img class="group-child280" alt="" src="./public/polygon-2.svg" />
        </div>
        <div class="group-parent56">
          <div class="rectangle-wrapper26">
            <div class="group-child279"></div>
          </div>
          <div class="end2">End</div>
          <img class="group-child282" alt="" src="./public/polygon-2.svg" />
        </div>
      </div>
      <div class="rectangle-parent142">
        <div class="group-child283"></div>
        <div class="key-project-details2">Skills Needed</div>
        <img
          class="droopfilledadd-circle-icon9"
          alt=""
          src="./public/droopfilledadd-circle.svg"
        />

        <div class="group-child284"></div>
        <div class="rectangle-parent143">
          <div class="group-child285"></div>
          <div class="group-child286"></div>
          <div class="group-child287"></div>
          <div class="group-child288"></div>
          <div class="group-child289"></div>
          <div class="group-child290"></div>
          <div class="group-child291"></div>
          <div class="group-child292"></div>
          <div class="group-child293"></div>
          <div class="group-child294"></div>
          <div class="group-child295"></div>
          <div class="group-child296"></div>
          <div class="group-child297"></div>
          <div class="group-child298"></div>
        </div>
      </div>
      <div class="rectangle-parent144">
        <div class="group-child299"></div>
        <div class="contact-information1">Contact Information</div>
        <div class="droopfilledcalling-parent2">
          <img
            class="droopfilledcalling-icon4"
            alt=""
            src="./public/droopfilledcalling.svg"
          />

          <div class="group-child300"></div>
          <div class="phone-number4">Phone Number</div>
        </div>
        <div class="droopfilledmail-parent2">
          <img
            class="droopfilledmail-icon4"
            alt=""
            src="./public/droopfilledmail.svg"
          />

          <div class="group-child301"></div>
          <div class="email6">Email</div>
        </div>
        <div class="rectangle-parent145">
          <div class="group-child302"></div>
          <div class="project-owner6">Project Owner</div>
          <img
            class="droopfilledaccount-icon19"
            alt=""
            src="./public/droopfilledaccount8.svg"
          />
        </div>
      </div>
      <div class="date-picker1">
        <div class="header3">
          <div class="dropdown2">
            <b class="month4">June</b>
            <img class="icon65" alt="" src="./public/icon14.svg" />
          </div>
          <div class="dropdown3">
            <b class="month4">2022</b>
            <img class="icon65" alt="" src="./public/icon14.svg" />
          </div>
        </div>
        <div class="frame-parent180">
          <div class="date-picker-day-parent4">
            <div class="date-picker-day42">
              <div class="day-wrapper42">
                <div class="date42">Mo</div>
              </div>
            </div>
            <div class="date-picker-day42">
              <div class="day-wrapper42">
                <div class="date42">tu</div>
              </div>
            </div>
            <div class="date-picker-day42">
              <div class="day-wrapper42">
                <div class="date42">we</div>
              </div>
            </div>
            <div class="date-picker-day42">
              <div class="day-wrapper42">
                <div class="date42">th</div>
              </div>
            </div>
            <div class="date-picker-day42">
              <div class="day-wrapper42">
                <div class="date42">fr</div>
              </div>
            </div>
            <div class="date-picker-day42">
              <div class="day-wrapper42">
                <div class="date42">sa</div>
              </div>
            </div>
            <div class="date-picker-day42">
              <div class="day-wrapper42">
                <div class="date42">su</div>
              </div>
            </div>
          </div>
          <div class="frame-parent181">
            <div class="date-picker-day-parent5">
              <div class="date-picker-day49">
                <div class="day-wrapper42">
                  <div class="date49">1</div>
                </div>
              </div>
              <div class="date-picker-day49">
                <div class="day-wrapper42">
                  <div class="date49">1</div>
                </div>
              </div>
              <div class="date-picker-day49">
                <div class="day-wrapper42">
                  <div class="date51">1</div>
                </div>
              </div>
              <div class="date-picker-day49">
                <div class="day-wrapper42">
                  <div class="date51">2</div>
                </div>
              </div>
              <div class="date-picker-day49">
                <div class="day-wrapper42">
                  <div class="date51">3</div>
                </div>
              </div>
              <div class="date-picker-day49">
                <div class="day-wrapper42">
                  <div class="date51">4</div>
                </div>
              </div>
              <div class="date-picker-day49">
                <div class="day-wrapper42">
                  <div class="date51">5</div>
                </div>
              </div>
            </div>
            <div class="date-picker-day-parent6">
              <div class="date-picker-day56">
                <div class="day-wrapper42">
                  <div class="date51">6</div>
                </div>
              </div>
              <div class="date-picker-day57">
                <div class="day-wrapper57">
                  <div class="date57">7</div>
                </div>
              </div>
              <div class="date-picker-day58">
                <div class="day-wrapper58">
                  <div class="date58">8</div>
                </div>
              </div>
              <div class="date-picker-day58">
                <div class="day-wrapper58">
                  <div class="date58">9</div>
                </div>
              </div>
              <div class="date-picker-day58">
                <div class="day-wrapper58">
                  <div class="date58">10</div>
                </div>
              </div>
              <div class="date-picker-day58">
                <div class="day-wrapper58">
                  <div class="date58">11</div>
                </div>
              </div>
              <div class="date-picker-day58">
                <div class="day-wrapper58">
                  <div class="date58">12</div>
                </div>
              </div>
            </div>
            <div class="date-picker-day-parent6">
              <div class="date-picker-day58">
                <div class="day-wrapper58">
                  <div class="date58">13</div>
                </div>
              </div>
              <div class="date-picker-day58">
                <div class="day-wrapper58">
                  <div class="date58">14</div>
                </div>
              </div>
              <div class="date-picker-day58">
                <div class="day-wrapper58">
                  <div class="date58">15</div>
                </div>
              </div>
              <div class="date-picker-day58">
                <div class="day-wrapper58">
                  <div class="date58">16</div>
                </div>
              </div>
              <div class="date-picker-day67">
                <div class="day-wrapper57">
                  <div class="date57">17</div>
                </div>
              </div>
              <div class="date-picker-day56">
                <div class="day-wrapper42">
                  <div class="date51">18</div>
                </div>
              </div>
              <div class="date-picker-day56">
                <div class="day-wrapper42">
                  <div class="date51">19</div>
                </div>
              </div>
            </div>
            <div class="date-picker-day-parent5">
              <div class="date-picker-day49">
                <div class="day-wrapper42">
                  <div class="date51">20</div>
                </div>
              </div>
              <div class="date-picker-day49">
                <div class="day-wrapper42">
                  <div class="date51">21</div>
                </div>
              </div>
              <div class="date-picker-day49">
                <div class="day-wrapper42">
                  <div class="date51">22</div>
                </div>
              </div>
              <div class="date-picker-day49">
                <div class="day-wrapper42">
                  <div class="date51">23</div>
                </div>
              </div>
              <div class="date-picker-day49">
                <div class="day-wrapper42">
                  <div class="date51">24</div>
                </div>
              </div>
              <div class="date-picker-day49">
                <div class="day-wrapper42">
                  <div class="date51">25</div>
                </div>
              </div>
              <div class="date-picker-day49">
                <div class="day-wrapper42">
                  <div class="date51">26</div>
                </div>
              </div>
            </div>
            <div class="date-picker-day-parent5">
              <div class="date-picker-day49">
                <div class="day-wrapper42">
                  <div class="date51">27</div>
                </div>
              </div>
              <div class="date-picker-day49">
                <div class="day-wrapper42">
                  <div class="date51">28</div>
                </div>
              </div>
              <div class="date-picker-day49">
                <div class="day-wrapper42">
                  <div class="date51">29</div>
                </div>
              </div>
              <div class="date-picker-day49">
                <div class="day-wrapper42">
                  <div class="date51">30</div>
                </div>
              </div>
              <div class="date-picker-day49">
                <div class="day-wrapper42">
                  <div class="date49">1</div>
                </div>
              </div>
              <div class="date-picker-day49">
                <div class="day-wrapper42">
                  <div class="date49">1</div>
                </div>
              </div>
              <div class="date-picker-day49">
                <div class="day-wrapper42">
                  <div class="date49">1</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="buttons-group">
          <div class="buttons4">
            <div class="buttons5">
              <img class="iconly2" alt="" src="./public/iconly.svg" />

              <div class="month6">Reset</div>
            </div>
          </div>
          <div class="buttons6">
            <div class="buttons7">
              <img class="iconly2" alt="" src="./public/iconly.svg" />

              <div class="month6">Done</div>
            </div>
          </div>
        </div>
      </div>
      <div class="new-project-start-child5"></div>
      <div class="create-a-new4">Create A new Project</div>
    </div>

    <script>
      var groupContainer1 = document.getElementById("groupContainer1");
      if (groupContainer1) {
        groupContainer1.addEventListener("click", function (e) {
          window.location.href = "./after-login.html";
        });
      }
      
      var groupContainer2 = document.getElementById("groupContainer2");
      if (groupContainer2) {
        groupContainer2.addEventListener("click", function (e) {
          window.location.href = "./communities-overview.html";
        });
      }
      
      var groupContainer3 = document.getElementById("groupContainer3");
      if (groupContainer3) {
        groupContainer3.addEventListener("click", function (e) {
          window.location.href = "./notifications.html";
        });
      }
      
      var groupContainer5 = document.getElementById("groupContainer5");
      if (groupContainer5) {
        groupContainer5.addEventListener("click", function (e) {
          window.location.href = "./profile-user-pov.html";
        });
      }
      
      var groupContainer6 = document.getElementById("groupContainer6");
      if (groupContainer6) {
        groupContainer6.addEventListener("click", function (e) {
          window.location.href = "./messaging.html";
        });
      }
      </script>
  </body>
</html>
