@keyframes slide-in-top {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.frame-item {
  position: absolute;
  top: 975px;
  left: 26px;
  background: linear-gradient(
    180.06deg,
    rgba(255, 255, 255, 0.98) 2.6%,
    rgba(11, 112, 144, 0.98) 50.09%,
    #3adad9 82.78%,
    rgba(255, 255, 255, 0)
  );
  width: 1439px;
  height: 1906px;
}
.frame-inner {
  position: absolute;
  top: 215px;
  left: 25px;
  width: 1440px;
  height: 760px;
}
.frame-child1,
.rectangle-icon,
.vector-icon {
  position: absolute;
  top: 208px;
  left: 25px;
  width: 1101px;
  height: 760px;
}
.frame-child1,
.vector-icon {
  width: 697.17px;
  height: 181.48px;
}
.frame-child1 {
  top: 658.37px;
  width: 863.07px;
  height: 385.02px;
}
.frame-child2,
.frame-child3 {
  position: absolute;
  top: 697.99px;
  left: 25px;
  width: 905.84px;
  height: 323.94px;
}
.frame-child3 {
  top: 747.47px;
  width: 915.16px;
  height: 218.76px;
}
.get-started {
  position: absolute;
  top: 12.02px;
  left: calc(50% - 71.69px);
  font-size: var(--font-size-7xl);
  line-height: 126.9%;
  font-weight: 600;
  font-family: var(--font-nunito-sans);
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  width: 143px;
  height: 25px;
}
.get-started-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gold-100);
  position: absolute;
  top: 352.98px;
  left: 0.17px;
  border-radius: var(--br-3xs);
  width: 179.04px;
  height: 54.49px;
}
.get-started-button:hover {
  background-color: var(--color-goldenrod-200);
}
.your-gateway-to {
  margin: 0;
}
.discover-collaborate-innovat,
.your-gateway-to-container {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
  line-height: 126.9%;
  display: inline-block;
  width: 709px;
  height: 129px;
}
.discover-collaborate-innovat {
  top: 181px;
  font-size: var(--font-size-11xl);
  line-height: 160.4%;
  width: 551px;
  height: 75px;
}
.line-div,
.your-gateway-to-open-science-c-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 709px;
  height: 256px;
}
.line-div {
  top: 170px;
  left: -3px;
  border-top: 6px solid var(--color-mediumturquoise);
  box-sizing: border-box;
  width: 56.6px;
  height: 6px;
}
.frame-parent3,
.rectangle-div {
  position: absolute;
  top: 56px;
  left: 0;
  width: 709px;
  height: 256px;
}
.rectangle-div {
  top: 0;
  border-radius: var(--br-3xs);
  background-color: var(--simply-white);
  box-shadow: 2px 2px 12px rgba(38, 40, 82, 0.1);
  width: 242px;
  height: 42px;
}
.welcome-to-nexus {
  position: absolute;
  top: 7px;
  left: 6px;
  letter-spacing: 0.04em;
  line-height: 160.4%;
  display: inline-block;
  width: 251px;
  height: 25px;
}
.frame,
.frame1 {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.frame1 {
  width: 257px;
  height: 42px;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-300);
}
.frame {
  width: 709px;
  height: 337px;
}
.get-started-button-parent,
.header-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 709px;
  height: 407.47px;
}
.header-text {
  top: 420px;
  left: 135px;
}
.sign-up1 {
  position: absolute;
  top: 10.45px;
  left: calc(50% - 45.39px);
  font-size: var(--font-size-5xl);
  line-height: 126.9%;
  font-weight: 600;
  font-family: var(--font-nunito-sans);
  color: var(--right-black);
  text-align: left;
  display: inline-block;
  width: 91px;
  height: 24px;
}
.signup-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gold-100);
  position: absolute;
  top: 0;
  left: 107.51px;
  border-radius: var(--br-3xs);
  width: 133.11px;
  height: 46.71px;
}
.signup-button:hover {
  background-color: #f6c41e;
}
.login-button,
.login-button-wrapper,
.login2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 108px;
  height: 47px;
}
.login2 {
  font-size: var(--font-size-5xl);
  line-height: 126.9%;
  font-weight: 600;
  font-family: var(--font-nunito-sans);
  color: #757575;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-button,
.login-button-wrapper {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}
.icon,
.signup-button-parent {
  position: absolute;
  top: 297px;
  left: 1129px;
  width: 240.62px;
  height: 47px;
}
.icon {
  top: 441px;
  left: 998px;
  width: 394px;
  height: 468px;
  object-fit: cover;
}
.you-do {
  color: var(--color-gold-100);
}
.what-can-you-container {
  position: absolute;
  top: 1061px;
  left: calc(50% - 233px);
  font-size: var(--font-size-29xl);
  letter-spacing: 0.02em;
  line-height: 147.4%;
  opacity: 0;
  color: var(--color-dimgray-400);
}
.what-can-you-container.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.what-u-can-do-rec {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background-color: var(--simply-white);
  backdrop-filter: blur(4px);
  width: 368px;
  height: 498px;
}
.group-inner {
  position: absolute;
  top: 278px;
  left: 149px;
  border-top: 6px solid var(--color-mediumturquoise);
  box-sizing: border-box;
  width: 56.6px;
  height: 6px;
}
.group-child1 {
  position: absolute;
  top: 57px;
  left: 129px;
  border-radius: var(--br-33xl);
  background: linear-gradient(180deg, #fff, rgba(255, 255, 255, 0));
  backdrop-filter: blur(4px);
  width: 109px;
  height: 104px;
}
.collaborate-on-research {
  position: absolute;
  top: 189px;
  left: calc(50% - 121px);
  letter-spacing: 0.02em;
  line-height: 147.4%;
  display: inline-block;
  width: 251px;
}
.zoom-front-color-icon {
  position: absolute;
  top: 57px;
  left: 136px;
  width: 133px;
  height: 133px;
  object-fit: cover;
}
.join-open-science {
  position: absolute;
  top: 294px;
  left: 47px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  line-height: 147.4%;
  color: var(--color-slategray);
  display: inline-block;
  width: 278px;
}
.what-u-can-do-rec-parent,
.what-u-can-do-rec1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 368px;
  height: 498px;
}
.what-u-can-do-rec-parent {
  opacity: 0;
}
.what-u-can-do-rec-group.animate,
.what-u-can-do-rec-parent.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-bottom;
}
.what-u-can-do-rec1 {
  border-radius: var(--br-6xl);
  background: linear-gradient(180deg, #fff, #fff);
  backdrop-filter: blur(4px);
}
.notebook-front-color-icon {
  position: absolute;
  top: 52px;
  left: 127px;
  width: 129.54px;
  height: 129.54px;
  object-fit: cover;
}
.what-u-can-do-rec-group {
  position: absolute;
  top: 3px;
  left: 818px;
  width: 368px;
  height: 498px;
  opacity: 0;
}
.find-open-science-container {
  position: absolute;
  top: 189px;
  left: calc(50% - 121px);
  line-height: 123.5%;
  text-transform: capitalize;
  display: inline-block;
  width: 251px;
}
.target-front-color-icon {
  position: absolute;
  top: 21px;
  left: 111px;
  width: 168.68px;
  height: 168.68px;
  object-fit: cover;
}
.what-u-can-do-rec-container {
  position: absolute;
  top: 3px;
  left: 409px;
  width: 368px;
  height: 498px;
  opacity: 0;
  color: var(--color-darkslategray-200);
}
.what-u-can-do-rec-container.animate {
  animation: 1s ease 0s 1 normal forwards slide-in-top;
}
.group-parent {
  position: absolute;
  top: 1188px;
  left: 165px;
  width: 1186px;
  height: 501px;
  text-align: center;
  font-size: var(--font-size-5xl);
  color: var(--color-darkslategray-500);
}
.ne1,
.x1 {
  font-size: var(--font-size-48xl);
  font-weight: 800;
  font-family: var(--font-inter);
}
.x1 {
  font-size: var(--font-size-55xl);
  font-weight: 700;
}
.nexus1,
.where-skills-meet-container {
  position: absolute;
  color: var(--simply-white);
  text-align: left;
}
.nexus1 {
  top: 0;
  left: 0;
  display: inline-block;
  width: 365px;
  height: 115px;
}
.where-skills-meet-container {
  top: 78px;
  left: 3px;
  font-size: var(--font-size-mid);
  font-family: var(--font-inter);
}
.nexus-parent {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 247px;
  left: 141px;
  width: 365px;
  height: 120px;
}
.rectangle-group {
  position: absolute;
  top: -208px;
  left: -25px;
  width: 1446px;
  height: 2877px;
}
.ne2,
.x2 {
  font-weight: 800;
  font-family: var(--font-inter);
}
.x2 {
  font-weight: 700;
}
.nexus2,
.where-skills-meet-container1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-21xl);
  color: var(--color-dimgray-400);
  text-align: left;
  display: inline-block;
  width: 140px;
  height: 41px;
}
.where-skills-meet-container1 {
  top: 41px;
  left: 2px;
  font-size: var(--font-size-mid);
  font-family: var(--font-inter);
  width: 233px;
  height: 20px;
}
.nexus-group {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 235px;
  height: 61px;
}
.social-media {
  position: absolute;
  top: 253px;
  left: 0;
  font-size: var(--font-size-3xl);
  font-weight: 500;
  color: var(--color-dimgray-400);
}
.nexusconnect,
.nexusconnect1 {
  position: absolute;
  top: 0;
  left: 47px;
}
.nexusconnect1 {
  top: 65px;
}
.nexusconnect2,
.nexusconnect3 {
  position: absolute;
  top: 130px;
  left: 47px;
}
.nexusconnect3 {
  top: 195px;
}
.vector-icon1,
.vector-icon2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon2 {
  height: 38.16%;
  width: 54.72%;
  top: 30.95%;
  right: 23.23%;
  bottom: 30.89%;
  left: 22.05%;
}
.vector-group,
.vector-icon3,
.vector-icon4 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.vector-group {
  text-decoration: none;
  height: 17.93%;
  top: 82.07%;
  bottom: 0;
}
.vector-icon3,
.vector-icon4 {
  height: 99.41%;
  top: 0;
  bottom: 0.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon4 {
  height: 80.48%;
  width: 42.74%;
  top: 19.52%;
  right: 27.7%;
  bottom: 0;
  left: 29.56%;
}
.group-div,
.vector-container {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
}
.vector-container {
  text-decoration: none;
  height: 17.93%;
  bottom: 82.07%;
}
.group-div {
  height: 100%;
  bottom: 0;
}
.group-wrapper2,
.vector-icon6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 41.94px;
  height: 233.94px;
}
.vector-icon6 {
  height: 44.91%;
  width: 54.41%;
  top: 27.56%;
  right: 22.16%;
  bottom: 27.53%;
  left: 23.43%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-a {
  text-decoration: none;
  position: absolute;
  height: 39.59%;
  width: 100%;
  top: 60.41%;
  right: 0;
  bottom: 0;
  left: 0;
}
.vector-icon10,
.vector-icon8,
.vector-icon9 {
  position: absolute;
  height: 6.9%;
  width: 6.9%;
  top: 31.09%;
  right: 31.03%;
  bottom: 62.01%;
  left: 62.07%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon10,
.vector-icon9 {
  height: 28.89%;
  width: 28.89%;
  top: 35.5%;
  right: 35.33%;
  bottom: 35.61%;
  left: 35.78%;
}
.vector-icon10 {
  height: 58.62%;
  width: 58.62%;
  top: 20.63%;
  right: 20.69%;
  bottom: 20.75%;
  left: 20.69%;
}
.vector-parent1 {
  text-decoration: none;
  position: absolute;
  height: 39.59%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 60.41%;
  left: 0;
}
.frame-parent5,
.group-parent2 {
  position: absolute;
  top: 64px;
  left: 0;
  width: 41.94px;
  height: 105.94px;
}
.frame-parent5 {
  top: -3px;
  left: -10px;
  height: 233.94px;
}
.group-parent1,
.social-media-parent {
  position: absolute;
  top: 118px;
  left: 10px;
  width: 209px;
  height: 286px;
}
.group-parent1 {
  top: 0;
  left: 0;
  width: 365px;
  height: 404px;
}
.about-us,
.careers,
.contact-us {
  position: absolute;
  top: 73px;
  left: 0;
}
.careers,
.contact-us {
  top: 131px;
}
.careers {
  top: 189px;
  display: inline-block;
  width: 97px;
}
.find-a-partner {
  top: 247px;
  display: inline-block;
  width: 152px;
}
.find-a-partner,
.in-the-news,
.team {
  position: absolute;
  left: 0;
}
.in-the-news {
  top: 305px;
  display: inline-block;
  width: 144px;
}
.team {
  top: 0;
  font-size: var(--font-size-3xl);
  font-weight: 500;
  color: var(--color-dimgray-400);
}
.about-us-parent {
  position: absolute;
  top: 2px;
  left: 357px;
  width: 138px;
  height: 335px;
}
.project-management,
.solutions {
  align-self: stretch;
  position: relative;
}
.solutions {
  font-weight: 500;
}
.project-management {
  font-size: var(--font-size-xl);
  color: var(--color-steelblue);
}
.frame2 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-21xl);
  font-size: var(--font-size-3xl);
  color: var(--color-dimgray-400);
}
.marketing {
  align-self: stretch;
  position: relative;
}
.frame-parent6,
.frame3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.frame3 {
  align-self: stretch;
  overflow: hidden;
}
.frame-parent6 {
  position: absolute;
  top: 2px;
  left: 645px;
  width: 228px;
}
.templates {
  position: absolute;
  top: 363px;
  left: 0;
}
.daily-webinars,
.profesionals-services {
  position: absolute;
  top: 421px;
  left: 0;
}
.daily-webinars {
  top: 189px;
}
.blog,
.community,
.video-tutorials {
  position: absolute;
  top: 479px;
  left: 0;
}
.blog,
.community {
  top: 247px;
}
.blog {
  top: 537px;
}
.customer-stories,
.podcast {
  position: absolute;
  top: 305px;
  left: 0;
}
.podcast {
  top: 595px;
}
.knowledge-base-parent {
  position: absolute;
  top: 2px;
  left: 1023px;
  width: 209px;
  height: 625px;
}
.frame-parent4,
.nexus2-notification-of-subscri-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 1232px;
  height: 627px;
}
.nexus2-notification-of-subscri-inner {
  top: 4239px;
  left: 102px;
  font-size: var(--font-size-xl);
  color: var(--color-steelblue);
  font-family: var(--font-poppins);
}
.group-child6,
.rectangle-container {
  position: absolute;
  top: 0;
  width: 1097px;
  height: 730px;
}
.group-child6 {
  left: 0;
  background: linear-gradient(
    180deg,
    #01bbd6,
    #4285f4 99.46%,
    rgba(21, 255, 254, 0.41)
  );
}
.rectangle-container {
  left: 180px;
}
.nexus2-notification-of-subscri-child {
  position: absolute;
  top: 3434px;
  left: 1px;
  width: 1277px;
  height: 730px;
}
.starts-now {
  position: absolute;
  top: 7px;
  left: calc(50% - 80.5px);
  font-size: var(--font-size-11xl);
  letter-spacing: 0.02em;
  line-height: 126.9%;
  font-family: var(--font-nunito-sans);
  color: var(--color-dimgray-400);
  text-align: left;
}
.get-started-button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: var(--color-gold-100);
  position: absolute;
  top: 3930px;
  left: 605px;
  border-radius: var(--br-xl);
  width: 229px;
  height: 54px;
}
.get-started-button1:hover {
  background-color: var(--color-goldenrod-200);
}
.get-ready-to,
.thank-you-for {
  position: absolute;
  letter-spacing: 0.02em;
  line-height: 126.9%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.get-ready-to {
  top: calc(50% - 39.5px);
  left: calc(50% - 443.5px);
  width: 926px;
  height: 191px;
}
.thank-you-for {
  top: calc(50% - 151.5px);
  left: 0;
  font-size: var(--font-size-45xl);
  width: 991px;
  height: 129px;
}
.get-ready-to-dive-into-the-fas-parent {
  position: relative;
  width: 991px;
  height: 303px;
}
.nexus2-notification-of-subscri-inner1 {
  position: absolute;
  top: calc(50% + 1044.5px);
  left: calc(50% - 496px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-21xl);
}
.group-child7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background: linear-gradient(180deg, #d9d9d9, rgba(217, 217, 217, 0));
  width: 195.92px;
  height: 175px;
}
.b,
.countries,
.k {
  position: absolute;
  letter-spacing: 0.02em;
  line-height: 126.9%;
  display: inline-block;
}
.countries {
  top: 100.86px;
  left: 34.99px;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-400);
  width: 130.32px;
  height: 19.83px;
}
.b,
.k {
  top: 52px;
  left: 12.21px;
  width: 171px;
  height: 44px;
}
.b {
  top: 31.03px;
  left: 139.07px;
  width: 22.74px;
  height: 41.38px;
}
.group-wrapper3,
.rectangle-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 195.92px;
  height: 175px;
}
.group-wrapper3 {
  top: 8px;
  left: 226.79px;
  opacity: 0;
}
.group-wrapper3.animate {
  animation: 1s ease 0s 1 normal forwards fade-in;
}
.group-child8 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background: linear-gradient(180deg, #d9d9d9, rgba(217, 217, 217, 0));
  width: 200.29px;
  height: 175px;
}
.b1,
.categories,
.k1 {
  position: absolute;
  letter-spacing: 0.02em;
  line-height: 126.9%;
  display: inline-block;
}
.categories {
  top: 100.86px;
  left: 39.34px;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-400);
  width: 112.67px;
  height: 19.83px;
}
.b1,
.k1 {
  top: 52px;
  left: 51.29px;
  width: 97px;
  height: 50px;
}
.b1 {
  top: 29.31px;
  left: 128.76px;
  width: 23.25px;
  height: 41.38px;
}
.group-wrapper4,
.rectangle-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 200.29px;
  height: 175px;
}
.group-wrapper4 {
  top: 8px;
  left: 436.71px;
  opacity: 0;
}
.group-wrapper4.animate,
.group-wrapper5.animate {
  animation: 1s ease 0s 1 normal forwards fade-in-top;
}
.group-child9 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-6xl);
  background: linear-gradient(180deg, #d9d9d9, rgba(217, 217, 217, 0));
  width: 195.92px;
  height: 175px;
}
.active-communities,
.b2,
.m,
.m1 {
  position: absolute;
  letter-spacing: 0.02em;
  line-height: 126.9%;
  display: inline-block;
}
.active-communities {
  top: 101px;
  left: 0;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray-400);
  width: 196px;
  height: 70px;
}
.b2,
.m,
.m1 {
  top: 51.72px;
  left: 13.99px;
  width: 170.56px;
  height: 19.83px;
}
.b2,
.m1 {
  top: 52px;
  left: 14px;
  width: 171px;
  height: 44px;
}
.b2 {
  top: 31.03px;
  left: 125.07px;
  width: 22.74px;
  height: 41.38px;
}
.group-wrapper5,
.rectangle-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 196px;
  height: 175px;
}
.group-wrapper5 {
  top: 8px;
  left: 16px;
  opacity: 0;
}
.frame-parent8,
.line-icon {
  position: absolute;
  top: 0;
  left: 573px;
  width: 721px;
  height: 224px;
}
.line-icon {
  top: 20.83px;
  left: 223.76px;
  width: 56.24px;
  height: 6px;
}
.global-collaboration-map {
  letter-spacing: 0.05em;
  display: inline-block;
}
.frame-parent7,
.global-collaboration-map,
.group-wrapper6,
.vector-parent2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 518px;
  height: 224px;
}
.frame-parent7,
.group-wrapper6 {
  text-align: left;
  font-size: var(--font-size-41xl);
  color: var(--color-dimgray-400);
  font-family: var(--font-nunito-sans);
}
.frame-parent7 {
  top: 2381px;
  left: 121px;
  width: 1235px;
  height: 219px;
  text-align: center;
  font-size: var(--font-size-19xl);
  color: var(--color-mediumturquoise);
  font-family: var(--font-inter);
}
.group-icon {
  position: absolute;
  height: 94.31%;
  width: 100%;
  top: 5.69%;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.map-pin-front-color-icon,
.map-pin-front-color-icon1 {
  position: absolute;
  top: 0;
  left: 147.6px;
  width: 62px;
  height: 62px;
  object-fit: cover;
}
.map-pin-front-color-icon1 {
  top: 333px;
  left: 157px;
  width: 77px;
  height: 77px;
}
.map-pin-front-color-icon2,
.map-pin-front-color-icon3 {
  position: absolute;
  top: 115px;
  left: 0;
  width: 89px;
  height: 89px;
  object-fit: cover;
}
.map-pin-front-color-icon3 {
  top: 322px;
  left: 925.38px;
}
.map-pin-front-color-icon4,
.map-pin-front-color-icon5 {
  position: absolute;
  top: 297px;
  left: 496.01px;
  width: 69px;
  height: 69px;
  object-fit: cover;
}
.map-pin-front-color-icon5 {
  top: 63px;
  left: 739.81px;
}
.map-pin-front-color-parent {
  position: absolute;
  top: 73px;
  left: 279px;
  width: 1014.38px;
  height: 411px;
}
.map-pin-front-color {
  position: absolute;
  top: 122px;
  left: 760.16px;
  width: 89px;
  height: 89px;
}
.subtract-icon {
  position: relative;
  width: 477.31px;
  height: 234.51px;
}
.tala-qudah {
  position: absolute;
  top: 46.91px;
  left: 142.75px;
  display: inline-block;
  width: 181px;
  height: 28px;
}
.quote-1-icon {
  position: absolute;
  top: 14.28px;
  left: 15.52px;
  width: 37.11px;
  height: 34.11px;
  overflow: hidden;
}
.explore-ongoing-open {
  position: absolute;
  top: 82.91px;
  left: 36.75px;
  font-size: var(--font-size-3xl);
  line-height: 160.69%;
  color: var(--color-darkslategray-100);
  text-align: center;
  display: inline-block;
  width: 357px;
  height: 56px;
}
.group-child10,
.subtract-parent {
  position: absolute;
  top: 65.09px;
  left: 0;
  width: 417.31px;
  height: 174.51px;
}
.group-child10 {
  top: 0;
  left: 164.29px;
  width: 89px;
  height: 89px;
}
.frame-parent9 {
  position: relative;
  width: 417.31px;
  height: 239.6px;
}
.group-wrapper7 {
  position: absolute;
  top: 0;
  left: calc(50% - 206.5px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.group-parent4 {
  position: absolute;
  height: 92.34%;
  width: 100%;
  top: 7.67%;
  right: -0.07%;
  bottom: -0.01%;
  left: 0.07%;
}
.group-child11,
.group-child12 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
}
.group-child11 {
  background-color: var(--simply-white);
  box-shadow: 0 10px 20px rgba(54, 58, 120, 0.1);
  width: 536.91px;
  height: 59.48px;
}
.group-child12 {
  background-color: var(--color-lightseagreen);
  width: 151px;
  height: 47.91px;
}
.search {
  position: absolute;
  top: 14.22px;
  left: 21.49px;
  font-size: var(--font-size-xl);
  line-height: 126.9%;
  font-weight: 600;
  font-family: var(--font-nunito-sans);
  color: var(--simply-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 108.66px;
  height: 20px;
}
.rectangle-parent5 {
  position: absolute;
  top: 5.78px;
  left: 377.51px;
  width: 151px;
  height: 47.91px;
}
.rectangle-parent4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 536.91px;
  height: 59.48px;
}
.enter-a-country,
.group-button {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
}
.group-button {
  cursor: pointer;
  padding: 0;
  left: 0;
  width: 536.91px;
  height: 59.48px;
}
.enter-a-country {
  font-family: var(--font-nunito-sans);
  font-size: var(--font-size-xl);
  left: 63px;
  letter-spacing: 0.02em;
  line-height: 147.4%;
  color: var(--color-lightslategray-200);
  text-align: left;
  display: flex;
  align-items: center;
  width: 262px;
  height: 59px;
}
.group-parent5 {
  position: absolute;
  top: -28px;
  left: 456px;
  width: 536.91px;
  height: 59.48px;
}
.group-parent3,
.section-subscribe,
.section-subscribe-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 1441px;
  height: 704px;
}
.section-subscribe-wrapper {
  top: 2697px;
  left: -1px;
  font-size: var(--font-size-7xl);
  color: var(--color-darkslategray-300);
}
.explore-collaborative-projects {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.05em;
  display: inline-block;
  width: 466px;
  height: 236px;
}
.group-child13 {
  position: absolute;
  top: 32px;
  left: 252px;
  width: 50.6px;
  height: 6px;
}
.explore-collaborative-projects-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 466px;
  height: 236px;
}
.featured-communities {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.02em;
  line-height: 160.4%;
  display: inline-block;
  width: 466px;
}
.featured-communities-wrapper {
  position: absolute;
  top: 228px;
  left: 0;
  width: 466px;
  height: 32px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
}
.frame-parent11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 466px;
  height: 291px;
}
.suggested-categories {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 160.4%;
}
.frame7 {
  position: absolute;
  top: 0;
  left: 9px;
  width: 631px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.group-child14 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-113xl);
  width: 134px;
  height: 54px;
}
.group-child14:hover,
.group-child15:hover,
.group-child16:hover {
  animation: 1s ease 0s infinite normal none fade-in;
  opacity: 1;
}
.ai {
  position: absolute;
  top: 16px;
  left: 58px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  line-height: 126.9%;
  font-family: var(--font-inter);
  color: var(--color-dimgray-400);
  text-align: center;
}
.frame-button,
.vector-parent3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 134px;
  height: 54px;
}
.frame-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 104px;
  left: 542px;
}
.group-child15 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-113xl);
  width: 223px;
  height: 54px;
}
.astronomy {
  position: absolute;
  top: 16px;
  left: 56px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  line-height: 126.9%;
  font-family: var(--font-inter);
  color: var(--color-dimgray-400);
  text-align: center;
}
.vector-parent4 {
  top: 0;
  width: 223px;
}
.group-child16,
.group-wrapper9,
.vector-parent4 {
  position: absolute;
  left: 0;
  height: 54px;
}
.group-wrapper9 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 104px;
  width: 223px;
}
.group-child16 {
  top: 0;
  border-radius: var(--br-113xl);
  width: 299px;
}
.innovation-technology {
  position: absolute;
  top: 14px;
  left: 24px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  line-height: 126.9%;
  font-family: var(--font-inter);
  color: var(--color-dimgray-400);
  text-align: center;
}
.group-wrapper10,
.vector-parent5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 299px;
  height: 54px;
}
.group-wrapper10 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 232px;
  left: 215px;
}
.physical-sciences {
  position: absolute;
  top: 15px;
  left: 56px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  line-height: 126.9%;
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-dimgray-400);
  text-align: center;
  width: 195px;
  height: 23px;
}
.group-wrapper11 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 168px;
  left: 0;
  width: 299px;
  height: 54px;
}
.math-statics-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-113xl);
  width: 278px;
  height: 54px;
}
.math-statics1 {
  position: absolute;
  top: 14px;
  left: 29px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  line-height: 126.9%;
  display: flex;
  font-family: var(--font-inter);
  color: var(--color-dimgray-400);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 199px;
}
.math-statics-wrapper {
  top: 0;
  width: 278px;
}
.group-child18,
.group-wrapper12,
.math-statics-wrapper {
  position: absolute;
  left: 0;
  height: 54px;
}
.group-wrapper12 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 41px;
  width: 278px;
}
.group-wrapper12:hover {
  animation: 1s ease 0s 1 normal none fade-in;
  opacity: 1;
}
.group-child18 {
  top: 0;
  border-radius: var(--br-113xl);
  width: 310px;
}
.group-child18:hover,
.group-child19:hover,
.group-child21:hover,
.group-child22:hover,
.group-child23:hover {
  animation: 1s ease 0s infinite normal none fade-in;
  opacity: 1;
}
.health-medicine {
  position: absolute;
  top: 16px;
  left: 57px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  line-height: 126.9%;
  display: flex;
  font-family: var(--font-inter);
  color: var(--color-dimgray-400);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 195px;
  height: 23px;
}
.group-wrapper13,
.vector-parent7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 310px;
  height: 54px;
}
.group-wrapper13 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 104px;
  left: 228px;
}
.group-child19 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-113xl);
  width: 392px;
  height: 54px;
}
.climate-weather {
  position: absolute;
  top: 15px;
  left: 85.22px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  line-height: 126.9%;
  display: flex;
  font-family: var(--font-inter);
  color: var(--color-dimgray-400);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 221.57px;
  height: 23px;
}
.group-wrapper14,
.vector-parent8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 392px;
  height: 54px;
}
.group-wrapper14 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 41px;
  left: 284px;
}
.programming {
  position: absolute;
  top: 13px;
  left: 42px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  line-height: 126.9%;
  display: flex;
  font-family: var(--font-inter);
  color: var(--color-dimgray-400);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 153px;
}
.group-wrapper15 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 169px;
  left: 305px;
  width: 223px;
  height: 54px;
}
.group-child21 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-113xl);
  width: 142px;
  height: 54px;
}
.history {
  position: absolute;
  top: 14px;
  left: 33px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  line-height: 126.9%;
  display: flex;
  font-family: var(--font-inter);
  color: var(--color-dimgray-400);
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 81px;
}
.group-wrapper16,
.vector-parent10 {
  position: absolute;
  top: 0;
  left: 0;
  width: 142px;
  height: 54px;
}
.group-wrapper16 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 169px;
  left: 534px;
}
.group-child22 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-113xl);
  width: 208px;
  height: 54px;
}
.life-sciences {
  position: absolute;
  top: 14px;
  left: 43px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  line-height: 126.9%;
  font-family: var(--font-inter);
  color: var(--color-dimgray-400);
  text-align: center;
}
.vector-parent11 {
  top: 0;
  width: 208px;
}
.group-child23,
.group-wrapper17,
.vector-parent11 {
  position: absolute;
  left: 0;
  height: 54px;
}
.group-wrapper17 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 231px;
  width: 208px;
}
.group-child23 {
  top: 0;
  border-radius: var(--br-113xl);
  width: 168px;
}
.chemistry {
  position: absolute;
  top: 14px;
  left: 36px;
  font-size: var(--font-size-xl);
  letter-spacing: 0.02em;
  line-height: 126.9%;
  font-family: var(--font-inter);
  color: var(--color-dimgray-400);
  text-align: center;
}
.group-wrapper18,
.vector-parent12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 168px;
  height: 54px;
}
.group-wrapper18 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 231px;
  left: 520px;
}
.frame-parent12 {
  position: absolute;
  top: 0;
  left: 512px;
  width: 688px;
  height: 286px;
  font-size: var(--font-size-xl);
  font-family: var(--font-inter);
}
.frame-parent10 {
  position: absolute;
  top: 1779px;
  left: 140px;
  width: 1200px;
  height: 291px;
  font-size: var(--font-size-41xl);
}
.nexus2-notification-of-subscri {
  position: relative;
  width: 100%;
  height: 5037px;
  overflow: hidden;
  background-image: url(./public/nexus2-notification-of-subscription@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  mix-blend-mode: normal;
  text-align: left;
  font-size: var(--font-size-45xl);
  color: var(--simply-white);
  font-family: var(--font-nunito-sans);
}
@media screen and (max-width: 1200px) {
  .get-started-button:hover {
    background-color: var(--color-goldenrod-100);
  }
  .what-can-you-container {
    line-height: 147px;
    text-align: left;
    opacity: 0;
  }
  .what-can-you-container.animate {
    animation: 1s ease 0s 1 normal forwards fade-in;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .what-can-you-container:hover {
    animation: 1s ease 0s infinite normal none shadow-drop-bottom;
    opacity: 1;
  }
  @keyframes shadow-drop-bottom {
    0% {
      box-shadow: 0 0 0 0 transparent;
    }
    to {
      box-shadow: 0 12px 20px -12px rgb(0 0 0/35%);
    }
  }
  .nexus1 {
    color: var(--simply-white);
  }
  .get-started-button1:hover {
    background-color: var(--color-goldenrod-100);
  }
}
