.group-child61 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--color-whitesmoke-400);
  width: 350px;
  height: 95px;
}
.sign-up2 {
  position: absolute;
  top: 29px;
  left: 38px;
  font-size: var(--font-size-6xl);
  text-transform: capitalize;
  font-family: var(--font-poppins);
  color: var(--white);
  text-align: left;
}
.rectangle-parent39 {
  top: 0;
  width: 350px;
  cursor: pointer;
}
.group-child62,
.loginsignup-inner,
.rectangle-parent39 {
  position: absolute;
  left: 0;
  height: 95px;
}
.loginsignup-inner {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 1px;
  width: 350px;
}
.group-child62 {
  top: 0;
  border-radius: var(--br-81xl);
  background-color: var(--white);
  width: 198px;
}
.log-in {
  position: absolute;
  top: 25px;
  left: 60px;
  font-size: var(--font-size-11xl);
  text-transform: lowercase;
  font-family: var(--font-poppins);
  color: var(--simply-white);
  text-align: left;
}
.rectangle-parent40 {
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 0;
  width: 198px;
  height: 95px;
}
.loginsignup,
.loginsignup-child,
.rectangle-parent40 {
  position: absolute;
  top: 0;
  cursor: pointer;
}
.loginsignup-child {
  border: 0;
  padding: 0;
  background-color: transparent;
  left: 152px;
  width: 198px;
  height: 95px;
}
.loginsignup {
  left: 0;
  width: 350px;
  height: 96px;
}
.loginsignup-wrapper,
.vector-icon38 {
  position: absolute;
  top: 77px;
  left: 1048px;
  width: 350px;
  height: 96px;
}
.vector-icon38 {
  top: 471px;
  left: 0;
  width: 1473px;
  height: 553px;
}
.password-signup-child {
  position: absolute;
  top: 112px;
  left: 77px;
  width: 94px;
  height: 89px;
}
.group-child63 {
  border-radius: var(--br-xl);
  background-color: var(--color-silver-100);
  box-shadow: 0 109px 337px rgba(0, 0, 0, 0.08),
    0 45.537593841552734px 140.79px rgba(0, 0, 0, 0.12),
    0 24.346576690673828px 75.27px rgba(0, 0, 0, 0.14),
    0 13.648491859436035px 42.2px rgba(0, 0, 0, 0.17),
    0 7.2486114501953125px 22.41px rgba(0, 0, 0, 0.21),
    0 3.0163094997406006px 9.33px rgba(0, 0, 0, 0.29);
}
.group-child63,
.rectangle-wrapper9 {
  position: absolute;
  top: calc(50% - 354px);
  left: calc(50% - 330px);
  width: 660px;
  height: 708px;
}
.group-child64 {
  border-radius: var(--br-81xl);
  border: 3px solid var(--simply-white);
  box-sizing: border-box;
}
.group-child64,
.group-wrapper31 {
  position: absolute;
  top: 0;
  left: 0;
  width: 499.97px;
  height: 107.87px;
}
.password5 {
  border: 0;
  background-color: transparent;
  font-family: var(--font-poppins);
  font-size: var(--font-size-9xl);
  color: var(--color-whitesmoke-400);
  text-align: left;
  display: flex;
  align-items: center;
}
.frame-parent105,
.group-wrapper32,
.password-wrapper,
.password5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 414px;
  height: 53px;
}
.frame-parent105,
.group-wrapper32 {
  top: 27.38px;
  left: 65.53px;
}
.frame-parent105 {
  top: 177.62px;
  left: 0;
  width: 499.97px;
  height: 107.87px;
}
.password-confirm {
  border: 0;
  background-color: transparent;
  font-family: var(--font-poppins);
  font-size: var(--font-size-9xl);
  position: absolute;
  top: 27px;
  left: 61px;
  color: var(--color-whitesmoke-400);
  text-align: left;
  display: flex;
  align-items: center;
  width: 414px;
  height: 53px;
}
.group-wrapper33,
.next-child1 {
  position: absolute;
  top: 313px;
  left: -0.47px;
  width: 499.97px;
  height: 107.87px;
}
.next-child1 {
  top: 0;
  left: 0;
  border-radius: var(--br-81xl);
  background-color: var(--white);
  border: 7px solid var(--white);
  box-sizing: border-box;
  width: 188.34px;
  height: 75.34px;
}
.next7 {
  position: absolute;
  top: 17.54px;
  left: 53.72px;
  font-size: var(--font-size-11xl);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--simply-white);
  text-align: left;
  display: inline-block;
  width: 112px;
  height: 39px;
}
.evaarrow-ios-forward-outline-icon3 {
  position: absolute;
  top: 27.83px;
  left: 124.01px;
  width: 26.54px;
  height: 26.54px;
  overflow: hidden;
}
.next6 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 448px;
  left: 315.53px;
  width: 188.34px;
  height: 75.34px;
}
.welcome-back2 {
  position: absolute;
  top: 115px;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 355px;
  height: 51px;
}
.ne14 {
  font-weight: 800;
}
.x14 {
  font-size: var(--font-size-55xl);
  font-weight: 700;
}
.nexus-txt5 {
  line-break: anywhere;
  width: 100%;
}
.nexus14 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 365px;
  height: 115px;
  font-size: var(--font-size-48xl);
  font-family: var(--font-inter);
}
.welcome-back-group {
  position: absolute;
  top: -25px;
  left: -5px;
  width: 365px;
  height: 166px;
}
.frame-parent104,
.group-wrapper34 {
  position: absolute;
  top: 0;
  left: 73.53px;
  width: 355px;
  height: 141px;
}
.frame-parent104 {
  top: 134px;
  left: 80.47px;
  width: 503.87px;
  height: 523.34px;
}
.frame-parent103,
.password-signup-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 660px;
  height: 708px;
}
.password-signup-inner {
  top: 201px;
  left: 395px;
}
.password-signup {
  position: relative;
  background-color: var(--simply-white);
  width: 100%;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-21xl);
  color: var(--simply-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1200px) {
  .nexus14 {
    color: var(--simply-white);
  }
}
