<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./password-signup.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@300;400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="password-signup">
      <div class="loginsignup-wrapper">
        <div class="loginsignup" id="loginsignupContainer">
          <button class="loginsignup-inner">
            <div class="rectangle-parent39" id="groupContainer">
              <div class="group-child61"></div>
              <b class="sign-up2">Sign up</b>
            </div>
          </button>
          <button class="loginsignup-child">
            <button class="rectangle-parent40" id="groupButton">
              <div class="group-child62"></div>
              <b class="log-in">log in</b>
            </button>
          </button>
        </div>
      </div>
      <img class="vector-icon38" alt="" src="./public/vector19.svg" />

      <img
        class="password-signup-child"
        alt=""
        src="./public/back-button.svg"
      />

      <div class="password-signup-inner">
        <div class="frame-parent103">
          <div class="frame-parent103">
            <div class="rectangle-wrapper9">
              <div class="group-child63"></div>
            </div>
          </div>
          <div class="frame-parent104">
            <div class="frame-parent105">
              <div class="group-wrapper31">
                <div class="group-wrapper31">
                  <div class="group-child64"></div>
                </div>
              </div>
              <div class="group-wrapper32">
                <div class="password-wrapper">
                  <textarea class="password5" autofocus="{true}">
PASSWORD</textarea
                  >
                </div>
              </div>
            </div>
            <div class="group-wrapper33">
              <div class="group-wrapper31">
                <div class="group-child64"></div>
                <textarea class="password-confirm" autofocus="{true}">
PASSWORD CONFIRM</textarea
                >
              </div>
            </div>
            <button class="next6" id="next">
              <div class="next-child1"></div>
              <div class="next7">Next</div>
              <img
                class="evaarrow-ios-forward-outline-icon3"
                alt=""
                src="./public/evaarrowiosforwardoutline3.svg"
              />
            </button>
            <div class="group-wrapper34">
              <div class="welcome-back-group">
                <b class="welcome-back2">Welcome Back</b>
                <div class="nexus14">
                  <span class="nexus-txt5">
                    <span class="ne14">NE</span>
                    <i class="x14">X</i>
                    <span class="ne14">US</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "./signup1.html";
        });
      }
      
      var groupButton = document.getElementById("groupButton");
      if (groupButton) {
        groupButton.addEventListener("click", function (e) {
          window.location.href = "./login.html";
        });
      }
      
      var loginsignupContainer = document.getElementById("loginsignupContainer");
      if (loginsignupContainer) {
        loginsignupContainer.addEventListener("click", function (e) {
          window.location.href = "./signup1.html";
        });
      }
      
      var next = document.getElementById("next");
      if (next) {
        next.addEventListener("click", function (e) {
          window.location.href = "./login-password.html";
        });
      }
      </script>
  </body>
</html>
