<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./profile-pov.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@300;400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="profile-pov">
      <div class="profile-nav-bar2"></div>
      <div class="profile-pov-child"></div>
      <div class="profile-pov-item"></div>
      <div class="profile-pov-inner"></div>
      <div class="search5">
        <b class="given">Given</b>
      </div>
      <div class="profile-pov-child1" data-scroll-to="rectangle1"></div>
      <div class="profile-pov-child2"></div>
      <div class="profile-pov-child3"></div>
      <img class="profile-pov-child4" alt="" src="./public/group-323.svg" />

      <b class="username1">UserName</b>
      <b class="student">Student</b>
      <b class="location1">Location</b>
      <b class="profile2" data-scroll-to="profileText">Profile</b>
      <button class="profile-pov-inner1">
        <div class="nexus-parent3">
          <div class="nexus11">
            <span class="ne11">NE</span>
            <i class="x11">X</i>
            <span class="ne11">US</span>
          </div>
          <b class="where-skills-meet-container8">
            <p class="where-skills-meet8">Where Skills Meet Solutions</p>
          </b>
        </div>
      </button>
      <button class="rectangle-parent23" id="groupButton">
        <div class="group-child39"></div>
        <b class="profile3">Profile</b>
      </button>
      <button class="rectangle-parent24" id="groupButton1">
        <div class="group-child39"></div>
        <b class="rating">Rating</b>
      </button>
      <button class="rectangle-parent25" id="groupButton2">
        <div class="group-child39"></div>
        <b class="communities2">Communities</b>
      </button>
      <button class="rectangle-parent26" id="groupButton3">
        <div class="group-child39"></div>
        <b class="skills">skills</b>
      </button>
      <button class="rectangle-parent27" id="groupButton4">
        <div class="group-child39"></div>
        <b class="projects">Projects</b>
      </button>
      <div class="search6">
        <div class="search-container">
          <img class="search-icon2" alt="" src="./public/search.svg" />

          <div class="search7">Search</div>
        </div>
      </div>
      <button class="search8">
        <b class="message">Message</b>
      </button>
      <button class="search-parent1">
        <div class="search9"></div>
        <b class="connect">Connect</b>
      </button>
      <div class="search10"></div>
      <b class="received">Received</b>
      <div class="profile-pov-child5"></div>
      <div class="profile-pov-child6"></div>
      <div class="profile-pov-child7"></div>
      <div class="profile-pov-child7"></div>
      <img class="profile-pov-child9" alt="" src="./public/rectangle-136.svg" />

      <img
        class="profile-pov-child10"
        alt=""
        src="./public/rectangle-140.svg"
      />

      <img
        class="profile-pov-child11"
        alt=""
        src="./public/rectangle-136.svg"
      />

      <img
        class="profile-pov-child12"
        alt=""
        src="./public/rectangle-136.svg"
      />

      <img
        class="profile-pov-child13"
        alt=""
        src="./public/rectangle-139.svg"
      />

      <img
        class="profile-pov-child14"
        alt=""
        src="./public/rectangle-142.svg"
      />

      <div class="rectangle-parent28">
        <div class="group-child44"></div>
        <div class="group-child45"></div>
        <div class="frame-parent30">
          <div class="rectangle-wrapper4">
            <div class="frame-child17"></div>
          </div>
          <div class="frame-parent31">
            <div class="ful-name-parent1">
              <div class="ful-name3">Ful Name</div>
              <div class="headline2">Headline</div>
            </div>
            <div class="union-container">
              <img class="union-icon5" alt="" src="./public/union3.svg" />

              <div class="mutual-connections2">8 mutual connections</div>
            </div>
          </div>
        </div>
        <div class="frame-parent32">
          <div class="icon-parent1">
            <img class="icon6" alt="" src="./public/icon3.svg" />

            <img class="network-icon4" alt="" src="./public/network2.svg" />
          </div>
          <div class="label9">Connect</div>
        </div>
        <div class="close"></div>
      </div>
      <div class="profile-pov-child15"></div>
      <div class="rectangle-parent29">
        <div class="group-child44"></div>
        <div class="group-child45"></div>
        <div class="frame-parent30">
          <div class="rectangle-wrapper4">
            <div class="frame-child17"></div>
          </div>
          <div class="frame-parent31">
            <div class="ful-name-parent1">
              <div class="ful-name3">Ful Name</div>
              <div class="headline2">Headline</div>
            </div>
            <div class="union-container">
              <img class="union-icon5" alt="" src="./public/union3.svg" />

              <div class="mutual-connections2">8 mutual connections</div>
            </div>
          </div>
        </div>
        <div class="frame-parent32">
          <div class="icon-parent1">
            <img class="icon6" alt="" src="./public/icon3.svg" />

            <img class="network-icon4" alt="" src="./public/network2.svg" />
          </div>
          <div class="label9">Connect</div>
        </div>
        <div class="close"></div>
      </div>
      <b class="about">About</b>
      <b class="recommendations">Recommendations</b>
      <b class="skills1">Skills</b>
      <div class="profile-pov-child16" data-scroll-to="rectangle"></div>
      <b class="projects1">Projects</b>
      <b class="project-name">Project Name </b>
      <b class="project-description-and">Project Description and role</b>
      <b class="project-description-and1">Project Description and role</b>
      <div class="profile-pov-child17" data-scroll-to="rectangle2"></div>
      <b class="communities3">Communities</b>
      <b class="rating1">Rating</b>
      <div class="search11" data-scroll-to="searchContainer">
        <div class="star-rating-component">
          <div class="star-rating">
            <div class="stars">
              <img class="star-icon" alt="" src="./public/star.svg" />

              <img class="star-icon" alt="" src="./public/star.svg" />

              <img class="star-icon" alt="" src="./public/star.svg" />

              <img class="star-icon" alt="" src="./public/star1.svg" />

              <img class="star-icon" alt="" src="./public/star1.svg" />
            </div>
            <div class="div">
              <span>3</span>
              <span class="span1">/5</span>
            </div>
          </div>
          <div class="button14">
            <img class="refresh-icon" alt="" src="./public/refresh.svg" />

            <div class="reset">Reset</div>
          </div>
        </div>
      </div>
      <img
        class="profile-pov-child18"
        alt=""
        src="./public/rectangle-143.svg"
      />

      <img
        class="profile-pov-child19"
        alt=""
        src="./public/rectangle-143.svg"
      />

      <img
        class="profile-pov-child20"
        alt=""
        src="./public/rectangle-143.svg"
      />

      <img class="ellipse-icon" alt="" src="./public/ellipse-19@2x.png" />

      <img
        class="profile-pov-child21"
        alt=""
        src="./public/rectangle-136.svg"
      />

      <img
        class="profile-pov-child22"
        alt=""
        src="./public/rectangle-140.svg"
      />

      <img
        class="profile-pov-child23"
        alt=""
        src="./public/rectangle-136.svg"
      />

      <img
        class="profile-pov-child24"
        alt=""
        src="./public/rectangle-136.svg"
      />

      <img
        class="profile-pov-child25"
        alt=""
        src="./public/rectangle-139.svg"
      />

      <img
        class="profile-pov-child26"
        alt=""
        src="./public/rectangle-142.svg"
      />

      <img
        class="profile-pov-child27"
        alt=""
        src="./public/ellipse-19@2x.png"
      />

      <img
        class="profile-pov-child28"
        alt=""
        src="./public/ellipse-19@2x.png"
      />

      <div class="home-container" id="groupContainer3">
        <b class="home2">Home</b>
        <img class="union-icon7" alt="" src="./public/union.svg" />
      </div>
      <div class="communities-container" id="groupContainer4">
        <b class="communities4"> Communities</b>
        <img class="network-icon6" alt="" src="./public/network.svg" />
      </div>
      <div class="notifications-container" id="groupContainer5">
        <b class="notifications2">Notifications</b>
        <img class="icon8" alt="" src="./public/icon.svg" />
      </div>
      <div class="group-parent8" id="groupContainer7">
        <div class="profile-container">
          <b class="profile4">Profile</b>
        </div>
        <img
          class="droopfilledaccount-icon2"
          alt=""
          src="./public/droopfilledaccount2.svg"
        />
      </div>
      <div class="messaging-container" id="groupContainer8">
        <b class="messaging2">Messaging</b>
        <img
          class="droopfilledmessage-icon2"
          alt=""
          src="./public/droopfilledmessage.svg"
        />
      </div>
    </div>

    <script>
      var groupButton = document.getElementById("groupButton");
      if (groupButton) {
        groupButton.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='profileText']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var groupButton1 = document.getElementById("groupButton1");
      if (groupButton1) {
        groupButton1.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='searchContainer']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var groupButton2 = document.getElementById("groupButton2");
      if (groupButton2) {
        groupButton2.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='rectangle2']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var groupButton3 = document.getElementById("groupButton3");
      if (groupButton3) {
        groupButton3.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='rectangle1']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var groupButton4 = document.getElementById("groupButton4");
      if (groupButton4) {
        groupButton4.addEventListener("click", function () {
          var anchor = document.querySelector("[data-scroll-to='rectangle']");
          if (anchor) {
            anchor.scrollIntoView({ block: "start", behavior: "smooth" });
          }
        });
      }
      
      var groupContainer3 = document.getElementById("groupContainer3");
      if (groupContainer3) {
        groupContainer3.addEventListener("click", function (e) {
          window.location.href = "./after-login.html";
        });
      }
      
      var groupContainer4 = document.getElementById("groupContainer4");
      if (groupContainer4) {
        groupContainer4.addEventListener("click", function (e) {
          window.location.href = "./communities-overview.html";
        });
      }
      
      var groupContainer5 = document.getElementById("groupContainer5");
      if (groupContainer5) {
        groupContainer5.addEventListener("click", function (e) {
          window.location.href = "./notifications.html";
        });
      }
      
      var groupContainer7 = document.getElementById("groupContainer7");
      if (groupContainer7) {
        groupContainer7.addEventListener("click", function (e) {
          window.location.href = "./profile-user-pov.html";
        });
      }
      
      var groupContainer8 = document.getElementById("groupContainer8");
      if (groupContainer8) {
        groupContainer8.addEventListener("click", function (e) {
          window.location.href = "./messaging.html";
        });
      }
      </script>
  </body>
</html>
