<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link
      rel="stylesheet"
      href="./project-details-looking-for-team-members1.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@300;400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="project-details-looking-for-te1">
      <div class="project-details-looking-for-te-child11"></div>
      <div class="project-details-looking-for-te-child12"></div>
      <img
        class="droopfilledarrow-forward-icon2"
        alt=""
        src="./public/droopfilledarrow-forward.svg"
      />

      <div class="project-details-looking-for-te-child13"></div>
      <div class="project-details-looking-for-te-child14"></div>
      <div class="profile-nav-bar20"></div>
      <div class="nexus33">
        <span class="ne33">NE</span>
        <i class="x33">X</i>
        <span class="ne33">US</span>
      </div>
      <b class="where-skills-meet-container29">
        <p class="where-skills-meet29">Where Skills Meet Solutions</p>
      </b>
      <div class="project-details-looking-for-te-child15"></div>
      <div class="project-details-looking-for-te-child16"></div>
      <div class="project-details-looking-for-te-child17"></div>
      <div class="project-details-looking-for-te-child18"></div>
      <div class="project-details-looking-for-te-child19"></div>
      <div class="project-details-looking-for-te-child20"></div>
      <div class="project-details-looking-for-te-child21"></div>
      <div class="project-details-looking-for-te-child22"></div>
      <div class="search64">
        <div class="search-parent21">
          <img class="search-icon21" alt="" src="./public/search.svg" />

          <div class="search65">Search</div>
        </div>
      </div>
      <div class="project-categories2">Project Categories:</div>
      <div class="people-working-on2">People Working on the project</div>
      <div class="project-details-looking-for-te-child23"></div>
      <div class="project-owner8">Project Owner</div>
      <div class="not-looking-for">Not looking For Team Members</div>
      <div class="project-details-looking-for-te-child24"></div>
      <div class="home-parent18" id="groupContainer">
        <b class="home20">Home</b>
        <img class="union-icon27" alt="" src="./public/union.svg" />
      </div>
      <div class="communities-parent18" id="groupContainer1">
        <b class="communities39"> Communities</b>
        <img class="network-icon27" alt="" src="./public/network.svg" />
      </div>
      <div class="notifications-parent18" id="groupContainer2">
        <b class="notifications21">Notifications</b>
        <img class="icon79" alt="" src="./public/icon.svg" />
      </div>
      <div class="group-parent70" id="groupContainer4">
        <div class="profile-wrapper14">
          <b class="profile23">Profile</b>
        </div>
        <img
          class="droopfilledaccount-icon26"
          alt=""
          src="./public/droopfilledaccount6.svg"
        />
      </div>
      <div class="messaging-parent18" id="groupContainer5">
        <b class="messaging21">Messaging</b>
        <img
          class="droopfilledmessage-icon20"
          alt=""
          src="./public/droopfilledmessage.svg"
        />
      </div>
      <div class="project-title6">Project Title</div>
      <div class="project-details-looking-for-te-child25"></div>
      <div class="duration6">Duration:</div>
      <div class="project-details-looking-for-te-child26"></div>
      <div class="location10">Location:</div>
      <div class="about-this-project2">About this project</div>
      <div class="project-details-looking-for-te-child27"></div>
      <div class="positions-available2">Positions Available</div>
      <div class="project-details-looking-for-te-child28"></div>
      <div class="apply-to-join1">Apply to join</div>
      <div class="rectangle-parent189" id="frameContainer8">
        <div class="frame-child155"></div>
        <div class="frame-wrapper9">
          <div class="frame-parent217">
            <div class="rectangle-parent190">
              <div class="frame-child156"></div>
              <div class="group-wrapper72">
                <div class="icon-parent40">
                  <img class="icon80" alt="" src="./public/icon1.svg" />

                  <div class="label18">Follow</div>
                </div>
              </div>
            </div>
            <div class="ful-name-parent6">
              <div class="ful-name10">Ful Name</div>
              <div class="lorem-ipsum-dolor7">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et ...
              </div>
              <div class="talks-about-hashtag2">
                Talks about #hashtag, #hashtag and #hashtag
              </div>
              <div class="frame-parent218">
                <div class="group-parent71">
                  <img
                    class="frame-child157"
                    alt=""
                    src="./public/group-2.svg"
                  />

                  <img
                    class="frame-child158"
                    alt=""
                    src="./public/group-3.svg"
                  />

                  <img
                    class="frame-child158"
                    alt=""
                    src="./public/group-44.svg"
                  />
                </div>
                <div class="full-name-and12">
                  Full Name and 8 others you know
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="frame-parent219" id="frameContainer25">
        <div class="group-parent71">
          <div class="rectangle-parent191">
            <div class="group-child389"></div>
            <div class="group-child390"></div>
            <div class="frame-parent220">
              <div class="rectangle-wrapper30">
                <div class="frame-child160"></div>
              </div>
              <div class="frame-parent221">
                <div class="ful-name-parent7">
                  <div class="ful-name11">Ful Name</div>
                  <div class="headline11">Headline</div>
                </div>
                <div class="union-parent4">
                  <img class="union-icon28" alt="" src="./public/union2.svg" />

                  <div class="mutual-connections8">8 mutual connections</div>
                </div>
              </div>
            </div>
            <div class="frame-parent222">
              <div class="icon-parent41">
                <img class="icon81" alt="" src="./public/icon2.svg" />

                <img
                  class="network-icon28"
                  alt=""
                  src="./public/network4.svg"
                />
              </div>
              <div class="label19">Connect</div>
            </div>
            <img class="close-icon4" alt="" src="./public/close1.svg" />
          </div>
        </div>
        <div class="group-parent71">
          <div class="rectangle-parent191">
            <div class="group-child389"></div>
            <div class="group-child390"></div>
            <div class="frame-parent220">
              <div class="rectangle-wrapper30">
                <div class="frame-child160"></div>
              </div>
              <div class="frame-parent221">
                <div class="ful-name-parent7">
                  <div class="ful-name11">Ful Name</div>
                  <div class="headline11">Headline</div>
                </div>
                <div class="union-parent4">
                  <img class="union-icon28" alt="" src="./public/union2.svg" />

                  <div class="mutual-connections8">8 mutual connections</div>
                </div>
              </div>
            </div>
            <div class="frame-parent222">
              <div class="icon-parent41">
                <img class="icon81" alt="" src="./public/icon2.svg" />

                <img
                  class="network-icon28"
                  alt=""
                  src="./public/network4.svg"
                />
              </div>
              <div class="label19">Connect</div>
            </div>
            <img class="close-icon4" alt="" src="./public/close1.svg" />
          </div>
        </div>
      </div>
    </div>

    <script>
      var groupContainer = document.getElementById("groupContainer");
      if (groupContainer) {
        groupContainer.addEventListener("click", function (e) {
          window.location.href = "./after-login.html";
        });
      }
      
      var groupContainer1 = document.getElementById("groupContainer1");
      if (groupContainer1) {
        groupContainer1.addEventListener("click", function (e) {
          window.location.href = "./communities-overview.html";
        });
      }
      
      var groupContainer2 = document.getElementById("groupContainer2");
      if (groupContainer2) {
        groupContainer2.addEventListener("click", function (e) {
          window.location.href = "./notifications.html";
        });
      }
      
      var groupContainer4 = document.getElementById("groupContainer4");
      if (groupContainer4) {
        groupContainer4.addEventListener("click", function (e) {
          window.location.href = "./profile-user-pov.html";
        });
      }
      
      var groupContainer5 = document.getElementById("groupContainer5");
      if (groupContainer5) {
        groupContainer5.addEventListener("click", function (e) {
          window.location.href = "./messaging.html";
        });
      }
      
      var frameContainer8 = document.getElementById("frameContainer8");
      if (frameContainer8) {
        frameContainer8.addEventListener("click", function (e) {
          window.location.href = "./profile-pov.html";
        });
      }
      
      var frameContainer25 = document.getElementById("frameContainer25");
      if (frameContainer25) {
        frameContainer25.addEventListener("click", function (e) {
          window.location.href = "./profile-pov.html";
        });
      }
      </script>
  </body>
</html>
