<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./project-details-owner-pov.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@300;400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="project-details-owner-pov">
      <div class="project-details-owner-pov-child"></div>
      <div class="project-details-owner-pov-item"></div>
      <div class="profile-nav-bar6"></div>
      <button class="project-details-owner-pov-inner"></button>
      <button class="project-details-owner-pov-child1"></button>
      <button class="project-details-owner-pov-child2"></button>
      <button class="project-details-owner-pov-child3"></button>
      <button class="project-details-owner-pov-child4"></button>
      <button class="project-details-owner-pov-child5"></button>
      <div class="search24">
        <div class="search-parent6">
          <img class="search-icon6" alt="" src="./public/search.svg" />

          <div class="search25">Search</div>
        </div>
      </div>
      <div class="applicants-skills">Applicants skills</div>
      <div class="other-skill-matched-individual">
        Other Skill-matched individuals
      </div>
      <button class="home-parent4" id="groupButton">
        <b class="home6">Home</b>
        <img class="union-icon11" alt="" src="./public/union.svg" />
      </button>
      <button class="communities-parent4" id="groupButton1">
        <b class="communities10"> Communities</b>
        <img class="network-icon11" alt="" src="./public/network.svg" />
      </button>
      <button class="notifications-parent4" id="groupButton2">
        <b class="notifications6">Notifications</b>
        <img class="icon37" alt="" src="./public/icon.svg" />
      </button>
      <button class="profile-group" id="groupButton3">
        <b class="profile9">Profile</b>
        <img
          class="droopfilledaccount-icon6"
          alt=""
          src="./public/droopfilledaccount6.svg"
        />
      </button>
      <button class="messaging-parent4" id="groupButton4">
        <b class="profile9">Messaging</b>
        <img
          class="droopfilledmessage-icon6"
          alt=""
          src="./public/droopfilledmessage.svg"
        />
      </button>
      <div class="applicants-list">Applicants list</div>
      <div class="project-details-owner-pov-inner1">
        <div class="rectangle-parent60">
          <div class="group-child113"></div>
          <div class="edit-project">Edit Project</div>
        </div>
      </div>
      <button class="nexus-parent6">
        <div class="nexus18">
          <span class="nexus-txt6">
            <span class="ne18">NE</span>
            <i class="x18">X</i>
            <span class="ne18">US</span>
          </span>
        </div>
        <b class="where-skills-meet-container14">
          <p class="where-skills-meet14">Where Skills Meet Solutions</p>
        </b>
      </button>
      <div class="rectangle-parent61">
        <div class="group-child114"></div>
        <button class="rectangle-parent62">
          <div class="frame-child90"></div>
          <button class="view-application">View Application</button>
        </button>
        <div class="group-child115"></div>
        <div class="name">Name</div>
        <div class="position">Position</div>
      </div>
      <div class="project-details-owner-pov-child6"></div>
      <button class="rectangle-parent63">
        <div class="frame-child90"></div>
        <button class="view-application">View Application</button>
      </button>
      <div class="project-details-owner-pov-child7"></div>
      <div class="name1">Name</div>
      <div class="position1">Position</div>
      <div class="rectangle-parent64">
        <div class="group-child114"></div>
        <button class="rectangle-parent62">
          <div class="frame-child90"></div>
          <button class="view-application">View Application</button>
        </button>
        <div class="group-child115"></div>
        <div class="name">Name</div>
        <div class="position">Position</div>
      </div>
      <div class="rectangle-parent66">
        <div class="group-child114"></div>
        <button class="rectangle-parent62">
          <div class="frame-child90"></div>
          <div class="view-application3">View Application</div>
        </button>
        <div class="group-child115"></div>
        <div class="name">Name</div>
        <div class="position">Position</div>
      </div>
      <div class="rectangle-parent68">
        <div class="group-child120"></div>
        <div class="name4">Name</div>
        <div class="position4">Position</div>
        <div class="group-child121"></div>
      </div>
      <button class="rectangle-parent69">
        <div class="group-child120"></div>
        <div class="name5">Name</div>
        <div class="position5">Position</div>
        <div class="group-child121"></div>
      </button>
      <button class="rectangle-parent70">
        <div class="group-child120"></div>
        <div class="name5">Name</div>
        <div class="position5">Position</div>
        <div class="group-child121"></div>
      </button>
      <button class="more2">More..</button>
      <button class="rectangle-parent71">
        <div class="group-child120"></div>
        <div class="name5">Name</div>
        <div class="position5">Position</div>
        <div class="group-child121"></div>
      </button>
    </div>

    <script>
      var groupButton = document.getElementById("groupButton");
      if (groupButton) {
        groupButton.addEventListener("click", function (e) {
          window.location.href = "./after-login.html";
        });
      }
      
      var groupButton1 = document.getElementById("groupButton1");
      if (groupButton1) {
        groupButton1.addEventListener("click", function (e) {
          window.location.href = "./communities-overview.html";
        });
      }
      
      var groupButton2 = document.getElementById("groupButton2");
      if (groupButton2) {
        groupButton2.addEventListener("click", function (e) {
          window.location.href = "./notifications.html";
        });
      }
      
      var groupButton3 = document.getElementById("groupButton3");
      if (groupButton3) {
        groupButton3.addEventListener("click", function (e) {
          window.location.href = "./profile-user-pov.html";
        });
      }
      
      var groupButton4 = document.getElementById("groupButton4");
      if (groupButton4) {
        groupButton4.addEventListener("click", function (e) {
          window.location.href = "./messaging.html";
        });
      }
      </script>
  </body>
</html>
