<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./search-nasa.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito Sans:wght@300;400;600;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap"
    />
  </head>
  <body>
    <div class="search-nasa">
      <div class="search-nasa-child"></div>
      <div class="profile-nav-bar8"></div>
      <div class="nexus20">
        <span class="ne20">NE</span>
        <i class="x20">X</i>
        <span class="ne20">US</span>
      </div>
      <b class="where-skills-meet-container16">
        <p class="explore-projects-from">Where Skills Meet Solutions</p>
      </b>
      <div class="search28">
        <div class="search-parent8">
          <img class="search-icon8" alt="" src="./public/search1.svg" />

          <div class="search29">Search</div>
        </div>
      </div>
      <button class="home-parent6" id="groupButton">
        <b class="home8">Home</b>
        <img class="union-icon15" alt="" src="./public/union.svg" />
      </button>
      <button class="communities-parent6" id="groupButton1">
        <b class="communities12"> Communities</b>
        <img class="network-icon15" alt="" src="./public/network.svg" />
      </button>
      <button class="notifications-parent6" id="groupButton2">
        <b class="notifications8">Notifications</b>
        <img class="icon42" alt="" src="./public/icon.svg" />
      </button>
      <button class="group-parent37" id="groupButton3">
        <div class="profile-wrapper3">
          <b class="profile11">Profile</b>
        </div>
        <img
          class="droopfilledaccount-icon8"
          alt=""
          src="./public/droopfilledaccount7.svg"
        />
      </button>
      <button class="messaging-parent6" id="groupButton4">
        <b class="messaging8">Messaging</b>
        <img
          class="droopfilledmessage-icon8"
          alt=""
          src="./public/droopfilledmessage.svg"
        />
      </button>
      <b class="explore-projects-from-container">
        <p class="explore-projects-from">Explore Projects From NASA</p>
      </b>
      <div class="frame18"></div>
      <button class="nexus-parent8">
        <div class="nexus21">
          <span class="ne21">NE</span>
          <i class="x21">X</i>
          <span class="ne21">US</span>
        </div>
        <b class="where-skills-meet-container17">
          <p class="explore-projects-from">Where Skills Meet Solutions</p>
        </b>
      </button>
      <div class="nexusconnect8">NEXUS.CONNECT</div>
      <div class="nexusconnect9">NEXUS.CONNECT</div>
      <div class="nexusconnect10">NEXUS.CONNECT</div>
      <div class="nexusconnect11">NEXUS.CONNECT</div>
      <a class="vector-parent36" target="_blank">
        <img class="vector-icon50" alt="" src="./public/vector.svg" />

        <img class="vector-icon51" alt="" src="./public/vector21.svg" />
      </a>
      <a class="vector-parent37" target="_blank">
        <img class="vector-icon52" alt="" src="./public/vector2.svg" />

        <img class="vector-icon53" alt="" src="./public/vector22.svg" />
      </a>
      <a class="vector-parent38">
        <img class="vector-icon50" alt="" src="./public/vector4.svg" />

        <img class="vector-icon55" alt="" src="./public/vector23.svg" />
      </a>
      <a class="vector-parent39" target="_blank">
        <img class="vector-icon50" alt="" src="./public/vector.svg" />

        <img class="vector-icon57" alt="" src="./public/vector6.svg" />

        <img class="vector-icon58" alt="" src="./public/vector24.svg" />

        <img class="vector-icon59" alt="" src="./public/vector25.svg" />
      </a>
      <b class="begin-your-search"
        >Begin your search, and let the universe unfold before your eyes!</b
      >
      <img class="search-nasa-item" alt="" src="./public/group-3041.svg" />

      <button class="rectangle-parent80">
        <div class="group-child132"></div>
        <b class="lets-go">
          <p class="explore-projects-from">Let’s Go</p>
        </b>
      </button>
    </div>

    <script>
      var groupButton = document.getElementById("groupButton");
      if (groupButton) {
        groupButton.addEventListener("click", function (e) {
          window.location.href = "./after-login.html";
        });
      }
      
      var groupButton1 = document.getElementById("groupButton1");
      if (groupButton1) {
        groupButton1.addEventListener("click", function (e) {
          window.location.href = "./communities-overview.html";
        });
      }
      
      var groupButton2 = document.getElementById("groupButton2");
      if (groupButton2) {
        groupButton2.addEventListener("click", function (e) {
          window.location.href = "./notifications.html";
        });
      }
      
      var groupButton3 = document.getElementById("groupButton3");
      if (groupButton3) {
        groupButton3.addEventListener("click", function (e) {
          window.location.href = "./profile-user-pov.html";
        });
      }
      
      var groupButton4 = document.getElementById("groupButton4");
      if (groupButton4) {
        groupButton4.addEventListener("click", function (e) {
          window.location.href = "./messaging.html";
        });
      }
      </script>
  </body>
</html>
