<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>
<body>
    <button><a href="url_for('uploadProfilePicture')">change your profile picture</a></button>
    <button><a href="url_for('changeBio')">change your bio</a></button>
    <button><a href="url_for('changeName')">change your name</a></button>
    <button><a href="url_for('changeUsername')">change your username</a></button>
    <button><a href="url_for('changePassword')">changr your password</a></button>
</body>
</html>