<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories = True) %}
    {% if messages %}
    {% for category, message in messages %}
    <h2>{{message}}</h2>
    {% endfor %}
    {% endif %}
    {% endwith %}

    
    <h2>Change your profile pic</h2>
    <form method="POST" action="{{ url_for('settings.uploadProfilePicture') }}" enctype="multipart/form-data">
        <input type="file" name="file">
        <button type="submit">Change your profile picture</button>
    </form>
    

    <h2>Change Your bio</h2>
    <form method="POST" action="{{ url_for('settings.changeBio') }}">
        <textarea type ="text" name="text" id="text" cols="30" rows="10"></textarea>
        <br>
        <button type="submit">Change your profile bio</button>
    </form>
    
    <h2>Change your profile username</h2>
    <form method="POST" action="{{ url_for('settings.changeUsername') }}">
        <input type="text" name="text" id = "text" placeholder="new username">
        <button type="submit">Change your profile username</button>
    </form>

    <h2>Change your profile name</h2>
    <form method="POST" action="{{ url_for('settings.changeName') }}">
        <input type="text" name="text" id = "text" placeholder="new name">
        <button type="submit">Change your profile name</button>
    </form>

    <h2>Change your password</h2>
    <form method="POST" action="{{ url_for('settings.changePassword') }}">
        <input type="password" name="password1" id = "password1" placeholder="old password"> <br>
        <input type="password" name="password2" id = "password2" placeholder="new password"> <br>
        <input type="password" name="password3" id = "password3" placeholder="new password again"> <br>
        <button type="submit">Change your profile password</button>
    </form>
    
</body>
</html>