<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
</head>
<body>
    <button><a href="{{url_for('settings.uploadProfilePicture')}}">change your profile picture</a></button>

    <button><a href="{{url_for('settings.changeBio')}}">change your bio</a></button> 

    <button><a href="{{url_for('settings.changeUsername')}}">change your username</a></button>

    <button><a href="{{url_for('settings.changePassword')}}">changr your password</a></button> 
    
    <button><a href="{{url_for('settings.changeName')}}">change your name</a></button>
    
    
</body>
</html>