<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.username}}</title>
</head>
<body>
    <img src="{{url_for('static', filename = 'uploads/'+ user.profile_picture)}}" width="100" height="100" alt="profile pic">
    <h1>{{user.name}}</h1>
    <h3>{{user.username}}</h3>
    <p>{{user.bio}}</p>
    {% if user == current_user %}
    <button><a href="{{url_for('settings.settings_page')}}">settings</a></button>
    {% elif isFriend %}
    <button><a href="{{url_for('user.unfollow', username = user.username)}}">unfollow</a></button>
    {% elif not isFriend %}
    <button><a href="{{url_for('user.follow', username = user.username)}}">follow</a></button>
    {% endif %}
    <ul id="posts">
        {% for post in posts %}
        <li>{{ post.text }}, {{post.text_type}}</li>
        <i class="fa-solid fa-thumbs-up"></i>
        <button><a href="{{url_for('user.post_view', username = user.username, post_id = post.id)}}">see post details</a></button>
        {% endfor %}
    </ul>
</body>
</html>